//Colors
$white: #fff;
$black: #000000;
$gray: #ccc;
$light-gray: #f5f5f5;
$brown: #a57036;
$pink: #e02c94;
$purple: #9a2ec8;
$violet: #5f33c9;
$blue: #277ed0;
$teal: #06806C;
$green: #4BB84F;
$yellow: #fbb80b;
$orange: #f26b11;
$red: #ff350e;

$text-color: rgba(51, 51, 51, 1);
$text-disabled-color: rgba(0, 0, 0, .4);
$text-comment-color: #818a91;
$text-light: $white;
$text-ok-color: $green;
$text-warning-color: $yellow;
$text-error-color: $red;

$colors: (
    comment:$text-comment-color,
    ok: $text-ok-color,
    warning: $text-warning-color,
    error: $text-error-color,
    color-white:$white,
    color-black:$black,
    color-gray:$gray,
    color-brown:$brown,
    color-pink:$pink,
    color-purple:$purple,
    color-violet:$violet,
    color-blue:$blue,
    color-teal:$teal,
    color-green:$green,
    color-yellow:$yellow,
    color-orange:$orange,
    color-red:$red);

//Global
$default-box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.45);
$default-border-radius: 0.25rem;
$default-arrow-border: 4px solid transparent;
$default-border-color: #acacac;
$default-arrow-active-border: #acacac;
$body-background-color: #fff;
$border-color: #acacac;
$default-color-increase-ratio: 20%;

$elem-default-padding: 0.5rem 1rem;
$elem-large-padding: 0.75rem 1.5rem;
$elem-small-padding: 0.25rem 0.5rem;

//z-index
$z-index: (
    mask: 100,
    overlay: 110,
    top:1000
);

//text
$font-weight: (
    'normal': 500,
    'bold': 700
);

$font-size: (
    'large':1.5rem,
    'normal': 1rem,
    'small':0.75rem
);

$arrow-direction: (
    'up':'up',
    'down':'down',
    'left':'left',
    'right':'right'
);

//for <a/> link
$link-color: $text-color;
$link-active-color: $blue;
$link-text-decoration: none;
$link-cursor: pointer;

//background color

//font color

//Accordion
$ad-max-height: 0;
$ad-active-max-height: 60rem;
$ad-overflow: hidden;
$ad-transition: max-height .7s ease-in-out;
$ad-card-card-header-active-title-transform: rotate(90deg);
$ad-card-card-header-active-title-transition: transform .7s ease-in-out;

//for blockquota
$bq-margin: 0 0 0.5rem 0;
$bq-default-padding: 0.5rem 1rem;
$bq-left-border: 0.4rem solid $gray;
$bq-other-border: 1px solid $gray;
$bq-left-border-primary: 0.4rem solid $blue;
$bq-other-border-primary: 1px solid $gray;
$bq-border-radius: $default-border-radius;

//For buttons
$btn-cursor: pointer;
$btn-font-size: 1rem;
$btn-line-height: 1.25rem;
$btn-text-align: center;
$btn-text-decoration: none;
$btn-text-color-active: #fff;
$btn-margin-left-button: 0.5rem;
$btn-margin-top-button: 0.5rem;
$btn-border-color: $default-border-color;
$btn-border-width: 1px;
$btn-border: $btn-border-width solid $btn-border-color; //todo:deprecated
$btn-default-text-color: $text-color;
$btn-default-padding: 0.5rem 1rem;
$btn-large-padding: 0.75rem 1.5rem;
$btn-small-padding: 0.25rem 0.5rem;
$btn-default-background-color: $white;

$btn-background-color: $gray;
$btn-primary-background-color: $blue;
$btn-primary-text-color: $white;
$btn-primary-border-color: $default-border-color;

$btn-danger-background-color: $red;
$btn-danger-text-color: $white;
$btn-danger-border-color: darken($btn-danger-background-color, $default-color-increase-ratio);

$btn-warning-background-color: $yellow;
$btn-warning-text-color: $white;
$btn-warning-border-color: darken($btn-warning-background-color, $default-color-increase-ratio);

$btn-info-background-color: $green;
$btn-info-text-color: $white;
$btn-info-border-color: darken($btn-info-background-color, $default-color-increase-ratio);

$btn-success-background-color: $green;
$btn-success-text-color: $white;
$btn-success-border-color: darken($btn-success-background-color, $default-color-increase-ratio);

//$btn-primary-box-shadow: 0 12px 16px 0 rgba(61, 139, 234, 0.24), 0 17px 50px 0 rgba(61, 139, 234, 0.19);
$btn-primary-box-shadow: 0 2px 5px 0 rgba(61, 139, 234, 0.24);
$btn-primary-inverted-background-color: transparent;
$btn-primary-text-color-active: #fff;
$btn-primary-effect-color-begin: #97C2EA;
$btn-primary-effect-color-end: #97C2EA;
$btn-inverted-background: $black;
$btn-inverted-border-color: #acacac;
$btn-inverted-text-color: $white;
$btn-active-inverted-border-color: #acacac;

//for button group
$btn-group-border-radius: $default-border-radius;
$btn-group-buttons-margin: 0 !important;
$btn-group-buttons-float: left;

//For input
$input-font-size: 1rem;
$input-placeholder-color: lighten(#ccc, 10%);
$input-placeholder-opacity: 1;
$input-line-height: 1.25rem;
$input-outline: 0;
$input-border-width: 1px;
$input-border: $input-border-width solid #ccc;
$input-border-radius: $default-border-radius;
$input-default-padding: 0.5rem 1rem;
$input-large-padding: 0.75rem 1.5rem;
$input-small-padding: 0.25rem 0.5rem;
$input-border-active-color: $blue;
$input-label-background-color: #eceeef;
$input-box-shadow: 0 2px 6px 0 rgba(61, 139, 234, 0.24);
$input-simple-box-shadow: 0 $input-border-width 0 0 rgba(61, 139, 234, 0.24);
$input-special-active-box-shadow-partial: 0 2px 6px 0;

$icon-input-icon-cursor: pointer;
$icon-input-vertical-align: middle;
$icon-input-icon-text-color: $gray;
$icon-input-icon-position: absolute;
$icon-input-left-icon-left: 0.5rem;
$icon-input-left-icon-top: 0.6875rem;
$icon-input-left-icon-width: 1rem;
$icon-input-icon-line-height: 1rem;
$icon-input-left-icon-input-padding-right: 1rem;
$icon-input-left-icon-input-padding-left: 2rem;
$icon-input-left-icon-input-large-input-padding: 0.75rem 1rem 0.75rem 2.5rem;
$icon-input-left-icon-input-large-icon-top: 0.9375rem;
$icon-input-left-icon-input-small-input-padding: 0.25rem 0.75rem 0.25rem 1.5rem;
$icon-input-left-icon-input-small-icon-top: 0.5625rem;

$icon-input-right-icon-input-padding-right: 2rem;
$icon-input-right-icon-right: 0.5rem;
$icon-input-right-icon-top: 0.6875rem;

$icon-input-large-padding: 0.75rem 2.5rem 0.75rem 1rem;
$icon-input-large-icon-line-height: 1.5rem;
$icon-input-large-icon-width: 1.5rem;
$icon-input-large-icon-top: 0.9375rem;

$icon-input-small-padding: 0.25rem 1.5rem 0.25rem 0.75rem;
$icon-input-small-icon-line-height: map-get($font-size, ' small ');
$icon-input-small-icon-width: 0.75rem;
$icon-input-small-icon-top: 0.5625rem;

//for input group
$input-group-label-line-height: 1.25rem;
$input-group-label-padding: 0.5rem 1rem;
$input-group-label-element-justify-content: center;
$input-group-label-element-align-items: center;
$input-group-element-inset-padding: 0;
$input-group-element-background-color: transparent;

//for Navbar
$navbar-border-radius: $default-border-radius;
$navbar-title-padding: 0 0.5rem;
$navbar-background-color: #f5f5f5;
$navbar-fixed-box-shadow: $default-box-shadow;
$navbar-margin-bottom: 0;
$navbar-background-color-primary: #3d8bea;
$navbar-inactive-text-color: lighten($text-color, 40%);
$navbar-title-color: $text-color;
$navbar-link-padding: .5rem;
$navbar-link-color: inherit;
$navbar-item-line-height: 3rem;
$navbar-item-padding: 0 0.5rem;
$navbar-item-active-color: $text-color;
$navbar-item-special-padding-left: 0.5rem;
$navbar-item-min-width: 5rem;
$navbar-item-position: relative;
$navbar-primary-item-color: darken($white, 10%);
$navbar-primary-active-color: $white;
$navbar-simple-item-link-border-height: 0.3125rem;
$navbar-simple-item-link-border-width: 100%;
$navbar-simple-item-link-background-colorh: $green;
$navbar-simple-primary-border-botom: 0;
$navbar-simple-primary-item-color: darken($white, 10%);
$navbar-simple-primary-item-border-bottom-width: 0;
$navbar-simple-primary-item-active-color: $white;
$navbar-simple-primary-item-link-active-background-color: $green;

//for drop down
$dp-cursor: pointer;
$dp-outline: 0;
$dp-text-align: center;
$dp-line-height: 1.25rem;
$dp-vertical-align: middle;
$dp-border-radius: $default-border-radius;
$dp-padding: 0.5rem 1rem;
$dp-border-width: 1px;
$dp-border: $dp-border-width solid $btn-border-color;
$dp-min-width: 8rem;
$dp-vertical-align: middle;
$dp-background-color: $white;
$dp-item-border: 1px solid #ccc;
$dp-border-radius: $default-border-radius;
$dp-button-dp-menu-margin: 0.2rem;

//for popover
$po-z-index: 100;
$popover-arrow-border-color: $default-border-color;
$popover-arrow-overlap-background-color: #fff;

//For Card
$card-border-width: 1px;
$card-border: $card-border-width solid $default-border-color;
$card-header-bottom-bolder: 1px solid $btn-border-color;
$card-border-radius: $default-border-radius;
$card-header-background-color: $light-gray;
$card-header-background-color-primary: #3d8bea;
$card-header-padding: 0.5rem 1rem;
$card-row-padding: 0.5rem 1rem;
$card-body-padding: 0.5rem 1rem;
$card-footer-padding: 0.5rem 1rem;
$card-width: 20rem;
$card-inner-border-radius: calc(#{$card-border-radius} - #{$card-border-width});
$card-overlay-title-display: block;
$card-overlay-title-position: absolute;
$card-overlay-title-width: 100%;
$card-overlay-title-background-color: rgba(0, 0, 0, .4);

// For dialog
$dialog-content-background-color: #fff;
$dialog-border-width: 1px;
$dialog-content-border: $dialog-border-width solid $default-border-color;
$dialog-content-margin: 3rem auto;
$dialog-header-primary-background-color: $blue;
$dialog-border-radius: $default-border-radius;
$dialog-body-border: $dialog-border-width solid $default-border-color;
$dialog-icon-color: rgba(0, 0, 0, .4);
$dialog-icon-color-hover: rgb(0, 0, 0);
$dialog-inner-border-radius: calc(#{$dialog-border-radius} - #{$dialog-border-width});

//For responsive layout
//from bootstrap:
// xs < 768
// 768=< sm < 992
// 992 =< md <1200
// 1200 =< lg
$bs-layout: (
    xs: 767px, // xs < 768
    sm :768px, // 768=< sm < 992
    md : 992px, // 992 =< md <1200
    lg : 1200px // 1200 =< lg
);
$grid-column-count: 12;
$grid-column-padding: .5rem .25rem;

//for form
$form-form-item-margin-bottom: 0.75rem;
$form-form-item-label-margin-bottom: 0.25rem;
$form-form-item-label-col-margin-top: 0.5rem;
$form-form-item-label-col-margin-bottom: 0.5rem;
$form-form-item-form-line-width: 100%;
$form-form-item-info-line-height: 1rem;
$form-form-item-info-margin: 0.25rem 0;
$form-form-item-inline-margin-right: 0.5rem;

//for table
$table-width: 100%;
$table-border-spacing: 0;
$table-border-collapse: collapse;
$table-default-border: 1px solid $gray;
$table-th-background-color: #f5f5f5;
$table-layout: fixed;
$table-margin-bottom: 1rem;
$table-white-space: nowrap;
$table-border-width: 1px;
$table-row-hover-background-color: lighten($gray, 15%);

//for loader
$loader-size-large: 5rem;
$loader-size-normal: 3rem;
$loader-size-small: 1.5rem;
$border-default-color: #ccc;

//for tab
$tab-margin-bottom: 0.5rem;

//=======================================================================

//For menu
$menu-item-active-background-color: #f5f5f5;
$menu-border: 1px solid #ccc;
$menu-border-active: darken($gray, 10%);
$menu-border-radius: $default-border-radius;
$menu-item-background-color: lighten($gray, 18%);
$menu-item-background-color-inverted: #000;
$menu-item-text-color-inverted: #fff;
$menu-item-active-text-color-inverted: $text-color;
$menu-item-padding: 0.5rem 1rem 0.5rem 1rem;
$menu-header-padding: 0.5rem 1rem 0.5rem 1rem;
$menu-item-min-width: 4rem;
$menu-item-hove-text-color: $blue;
$menu-item-with-box-text-size: 1rem;
$menu-icon-margin-right: 0.5rem;
$menu-item-hover-text-shadow: 1px 1px 2px #333, 0 0 25px $white, 0 0 5px $blue;


//for breadcrumb
$bd-wrapper-background-color: #f5f5f5;
