@mixin generate-button-add-ons($className,
                                $background-color:'transparent',
                                $default-text-color:'inherit',
                                $border-color:$background-color,
                                $inverted-background-color:$black) {
  &.#{$className} {
    @include generate-button-content($background-color, $default-text-color, $border-color, $inverted-background-color);
  }
}

@mixin generate-button-content($background-color:'transparent',
                                $default-text-color:'inherit',
                                $border-color:$background-color,
                                $inverted-background-color:$black,
                                $active-inverted-text-color:$white) {
  background-color: $background-color;
  color: $default-text-color;
  border: 1px solid $border-color;

  &.inverted {
    color: $background-color;
    background-color: $inverted-background-color;
    //border: 0.15625rem solid lighten($border-color, 10%);
    border: 1px solid lighten($border-color, 10%);

    @include disabled-color($background-color, $default-text-color);

    @include activate-color($background-color, $active-inverted-text-color);
  }

  @include disabled-color($background-color, $default-text-color);

  @include activate-color(darken($background-color, 10%), lighten($default-text-color, 10%));
}