
//todo:Deprecated
%inline-block-style {
  position: relative;
  display: inline-block;
}

//todo:Deprecated
%block-style {
  position: relative;
  display: block;
}

//todo:Deprecated
%block-width {
  display: block;
  width: 100%;
}