//default button's style
%button-style {
  //position: relative;
  display: inline-block;
  //font-weight: map-get($font-weight, 'normal');
  cursor: pointer;
  outline: 0;
  padding: $btn-default-padding;
  line-height: 1.25rem;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  background-color: $btn-default-background-color;
  border: 1px solid $btn-border-color;
  @include border-radius();
  transition: all .3s ease-in-out;
}

%inline-block-style {
  position: relative;
  display: inline-block;
}

%block-style {
  position: relative;
  display: block;
}

%block-width {
  display: block;
  width: 100%;
}