.accordion {
  @include make-inline-flex {
    flex-flow: column;
  }

  .accordion-content {
    display: none;
    position: relative;

    &.transition {
      position: relative;
      height: 0;
      overflow: hidden;
      transition: all .6s ease;
    }


    &.show{
      display: block;
    }
  }


  > .card {

    > .card-header > .title {
      @include make-arrow($default-arrow-border, $default-arrow-active-border, null, 'before', map_get($arrow-direction, 'right'));
    }

    &:not(:first-child) {
      margin-left: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:not(:last-child) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-width: 0;
    }

  }

}
