.accordion {
  @include make-inline-flex {
    flex-flow: column;
  }

  > .card {

    > .card-header > .title {
      @include make-arrow($default-arrow-border, $default-arrow-active-border, null, 'before', map_get($arrow-direction, 'right'));
    }

    > .card-body, > .card-footer, > .card-row, > .card-img, > .card-header + .divider {
      overflow: hidden;
    }

    > .card-body, > .card-footer, > .card-row, > .card-img {
      transform: translateY(0px);
      transform-origin: top;
      transition: transform 2s ease;
    }

    &:not(:first-child) {
      margin-left: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &:not(:last-child) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-width: 0;
    }

    &.active {
      > .card-body, > .card-footer, > .card-row, > .card-img, > .card-header + .divider {
        display: block;
      }

      > .card-body, > .card-footer, > .card-row {
        transform: translateY(200px);
      }
    }

  }

}