.breadcrumb {
  display: flex;
  position: relative;
  list-style: none;
  align-items: center;

  &:first-child:not(:last-child), &:not(first-child):not(last-child) {
    margin-bottom: 1rem;
  }

  &.with-bg {
    background: $gray;
    border-radius: $default-border-radius;
    padding: 0.5rem;
  }

  > .item {
    cursor: pointer;
    color: rgba(0, 0, 0, .5);

    &:hover, &:focus, &.active {
      color: $blue;
    }

    > .icon {
      &:first-child:not(:last-child), &:not(first-child):not(last-child) {
        margin-right: 0.25rem;
      }
    }

  }

  > .bc-divider {
    color: rgba(0, 0, 0, .5);
    padding: 0 0.5rem;
  }
}