.button {
  @include make-inline-block();
  cursor: $btn-cursor;
  outline: none;
  line-height: $btn-line-height;
  text-align: $btn-text-align;
  text-decoration: $btn-text-decoration;
  @include border-radius();
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  transition: all .2s ease-in-out;

  @extend %medium;

  @include add-disabled-conf {
    a.button.disabled {
      pointer-events: none !important;
    }
  }

  //add button content
  @include generate-simple-button(null, $btn-default-background-color, $btn-default-text-color, $btn-border-color);

  //generate primary button
  @include generate-simple-button('primary', $btn-primary-background-color, $btn-primary-text-color, $btn-primary-border-color);
  @include generate-simple-button('danger', $btn-danger-background-color, $btn-danger-text-color, $btn-danger-border-color);
  @include generate-simple-button('warning', $btn-warning-background-color, $btn-warning-text-color, $btn-warning-border-color);
  @include generate-simple-button('info', $btn-info-background-color, $btn-info-text-color, $btn-info-border-color);
  @include generate-simple-button('success', $btn-success-background-color, $btn-success-text-color, $btn-success-border-color);

  //同级的block button，margin-top:0.5rem
  &.block {
    @include make-block {
      width: 100%
    }
  ;

    + .block {
      margin-top: $btn-margin-top-button;
    }
  }

  //同级的button但不是block button的，默认margin-left:0.5rem
  + .button:not(.block) {
    margin-left: $btn-margin-left-button;
  }

  &.circle {
    padding: 0.5rem;
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    line-height: 1rem;
    @include border-radius(70%);
  }

  @include variant-size();

  //generate primary button
  /*  @include generate-button-add-ons('primary',
            $btn-primary-color,
            $white,
            lighten($btn-primary-color, 20%),
            $btn-primary-inverted-background-color);*/

  > .icon-label {
    position: absolute;
    left: 0;
    top: 0;
    width: 2rem;
    height: 100%;
    background-color: darken($btn-background-color, 15%);
    @extend .clear-fix;
  }

}
