.card {
  @include make-inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: $card-width;
  border: $card-border;
  @include border-radius($card-border-radius);
  box-shadow: $default-box-shadow;
  transition: all 0.2s;
  background-color: $white;
  //margin: 0.25rem 0.25rem;

  + .card {
    margin-left: 1rem;
  }

  &.scale {
    &:focus, &:hover {
      transform: scale(1.2, 1.2);
      transform-origin: center;
      //z-index only work on position relative, absolute & fixed.
      z-index: 100;
      position: relative;

    }
  }

  > * {
    &:first-child {
      border-top-left-radius: $card-inner-border-radius;
      border-top-right-radius: $card-inner-border-radius;

      &.card-img {
        > .img {
          border-top-left-radius: $card-inner-border-radius;
          border-top-right-radius: $card-inner-border-radius;
        }
      }
    }

    &:last-child {
      border-bottom-left-radius: $card-inner-border-radius;
      border-bottom-right-radius: $card-inner-border-radius;

      &.card-img {
        > .img, > .overlay-title {
          border-bottom-left-radius: $card-inner-border-radius;
          border-bottom-right-radius: $card-inner-border-radius;
        }
      }
    }

    &:not(:first-child):not(:last-child) {
      @include border-radius(0);
    }
  }


  .card-header {
    padding: $card-header-padding;
    //@include border-radius($card-inner-border-radius $card-inner-border-radius 0 0);

    .title {
      font-weight: map_get($font-weight, 'normal');
    }

    &.gray {
      background-color: $card-header-background-color;
    }
  }

  /*conflict with other components like dropdown*/
  /* .menu {
     width: 100%;
     display: block;
     border-width: 0;
   }*/

  .card-row {
    padding: $card-row-padding;
  }

  .card-body {
    padding: $card-body-padding;
  }

  .card-footer {
    padding: $card-footer-padding;
    //overflow: auto;
    //@include full-border-radius(0, 0, $card-border-radius, $card-border-radius);
  }

  .card-img {
    position: relative;

    > .img {
      //@include border-radius($card-inner-border-radius);
      display: block;
      width: 100%;
      vertical-align: middle;
    }

    > .overlay-title {
      display: $card-overlay-title-display;
      padding: $card-body-padding;
      position: $card-overlay-title-position;
      color: $white;
      bottom: 0;
      width: $card-overlay-title-width;
      background-color: $card-overlay-title-background-color;

      &:focus, &:hover {
        text-shadow: 1px 1px 2px #333, 0 0 25px $white, 0 0 5px $blue;;
      }
    }

  }

  &.block {
    width: 100%;
    display: flex;

    .card-header, .card-body, .card-footer, .card-row {
      display: block;
    }
  }
}
