.card {
  @include make-inline-block;
  min-width: $card-min-width;
  max-width: $card-max-width;
  margin-bottom: $card-margin-bottom;
  border: $card-border;
  @include border-radius($card-border-radius);

  & > .card-header {
    padding: $card-header-padding;
    @include border-radius(calc(#{$card-border-radius} - #{$card-border-width}) calc(#{$card-border-radius} - #{$card-border-width}) 0 0);

    & > .title {
      font-weight: map_get($font-weight, 'normal');
    }

    &.gray {
      background-color: $card-header-background-color;
    }
  }

  & > .card-row {
    padding: $card-row-padding;
  }

  & > .card-body {
    padding: $card-body-padding;
  }

  & > .card-footer {
    padding: $card-footer-padding;
    //overflow: auto;
    @include full-border-radius(0, 0, $card-border-radius, $card-border-radius);
  }

  & > .card-img {
    position: relative;

    > .img {
      @include border-radius(calc(#{$card-border-radius} - #{$card-border-width}));
      display: block;
      width: 100%;
      vertical-align: middle;
    }

    > .overlay-title {
      display: block;
      padding: $card-body-padding;
      position: absolute;
      color: $white;
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, .4);
    }

  }

  &.block {
    width: 100%;
    display: block;

    > .card-header, > .card-body, > .card-footer, > .card-row {
      display: block;
    }
  }

  &:not(:first-child) {
    margin-left: 1rem;
  }
}
