%content-spacing {
  min-height: 1rem;
  padding: 1rem;
}

@keyframes open-dialog {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.dialog {
  @extend .mask;
  display: none;
  z-index: map_get($z-index, 'top');
  transition: all .4s;

  &.show {
    display: block;

    > .content {
      animation: open-dialog 0.6s
    }
  }

  > .content {
    position: relative;
    margin: $dialog-content-margin;
    border: $dialog-content-border;
    width: 95%;
    min-height: 1rem;
    z-index: map_get($z-index, 'top');
    background-color: $dialog-content-background-color;
    @include border-radius($dialog-border-radius);
    box-shadow: $default-box-shadow;

    @include adapter-width('min-width', map-get($bs-layout, 'sm')) {
      & {
        width: 75%;
      }
    }

    @include adapter-width('min-width', map-get($bs-layout, 'md')) {
      & {
        width: 65%;
      }
    }

    @include adapter-width('min-width', map-get($bs-layout, 'lg')) {
      & {
        width: 55%;
      }
    }

    > .header {
      @extend %content-spacing;
      font-size: 1.25rem;
      font-weight: map-get($font-weight, 'normal');

      > .title {
        @extend %inline-block-style;
        float: left;
      }

      > .icon {
        @extend %inline-block-style;
        float: right;
        font-size: map-get($font-size, 'large');
        color: $dialog-icon-color;
        cursor: pointer;

        &:hover {
          color: $dialog-icon-color-hover;
        }
      }

      @extend .clear-fix;
    }

    > .body {
      @extend %content-spacing;
      @include border($dialog-body-border);
      border-left-width: 0;
      border-right-width: 0;
    }

    > .footer {
      @extend %content-spacing;
      background-color: #f5f5f5;
      @include full-border-radius(0, 0, $dialog-inner-border-radius, $dialog-inner-border-radius);
    }
  }

  &.simple {
    background-color: rgba(0, 0, 0, .85);

    > .content {
      border-width: 0;
      box-shadow: none;
      color: $white;
      background-color: transparent;

      > .header, > .body, > .footer {
        border-width: 0;
        border-radius: 0;
        color: inherit;
      }
    }

  }

  &.primary > .content > .header {
    background-color: $dialog-header-primary-background-color;
    @include full-border-radius($dialog-inner-border-radius, $dialog-inner-border-radius, 0, 0);
  }

}