
%block-menu-style {
  @include dp-menu {
    box-shadow: $default-box-shadow;
    margin-top: $dp-button-dp-menu-margin;
    @include border-radius($dp-border-radius);
    width: auto;

    &.top {
      top: auto;
      bottom: 100%;
      margin-bottom: $dp-button-dp-menu-margin;
    }

    &.right {
      left: auto;
      right: 0;
    }
  }
}

%active-menu {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  & > .menu {
    display: block;
    border-top-width: 0;
  }
}

.dropdown {
  @include make-inline-block();
  cursor: $dp-cursor;
  outline: $dp-outline;
  line-height: $dp-line-height;
  text-align: $dp-text-align;
  @include border-radius($dp-border-radius);
  padding: $dp-padding;
  border: $dp-border;
  min-width: $dp-min-width;
  vertical-align: $dp-vertical-align;

  > .menu {
    @include dp-menu {
      width: calc(100% + 2px);
      @include full-border-radius(0, 0, $dp-border-radius, $dp-border-radius);

      transition: display .5s ease;
    }
  }

  &.without-min-width {
    min-width: 0;
  }

  @include add-disabled-conf;

  > .info {
    @include make-arrow($default-arrow-border, $default-arrow-active-border);
  }

  &.active {
    @extend %active-menu;
  }

  &.simple {
    border: 0;
    padding: 0;
    min-width: 0;

    & > .info {
      @include make-inline-block;
    }

    .menu {
      @extend %block-menu-style;
    }

  }

}

.button-dropdown {
  @include make-inline-block {
    vertical-align: $dp-vertical-align;
  }

  &.disabled {
    > .button {
      @extend %not-allowed;
    }
  }

  &.active {
    .menu {
      display: block;
      left: auto;
    }
  }

  //display the menu by js script instead of this css style
  /* .button {
     &:focus, &.active {
       ~ .menu {
         display: block;
       }
     }
   }*/

  .menu {
    @extend %block-menu-style;
  }

}