%menu-item {
  display: none;
  position: absolute;
  background-color: $dp-background-color;
  border: $dp-item-border;
  z-index: 100;
  @include full-border-radius(0, 0, $dp-border-radius, $dp-border-radius);
}

%menu {
  > .menu {
    @extend %menu-item;
    width: calc(100% + 2px);
    left: -1px;
    top: 100%;
    z-index: 100;
    min-width: $dp-min-width;

    &.active {
      display: block;
      border-top-width: 0;
      border-color: $menu-border-active;
    }

    & > .item {
      display: block;
      width: 100%;
      padding: $dp-item-padding;
      text-align: left;
      border-width: 0;
      overflow: hidden;

      &:hover, &:focus, &.active {
        text-decoration: none;
        background-color: $dp-menu-item-active-background-color;
      }
    }
  }
}

.dropdown {
  @include make-inline-block();
  cursor: $dp-cursor;
  outline: none;
  line-height: $dp-line-height;
  text-align: $dp-text-align;
  @include border-radius($dp-border-radius);
  padding: $dp-padding;
  border: $dp-border;
  min-width: $dp-min-width;

  @extend %menu;

  &.without-min-width {
    min-width: 0;
  }

  @include add-disabled-conf;

  > .info {
    @include make-arrow(4px solid transparent, $black);
  }

  //todo
  &:not(.disabled):not([disabled]) {
    &:hover, &.active {
      border-color: $menu-border-active;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      & > .menu {
        display: block;
        border-top-width: 0;
        border-color: $menu-border-active;
        transition: all .2s ease;
      }
    }
  }

  &.simple {
    border: 0;
    min-width: $dp-simple-min-width;
    text-align: left;

    & > .menu {
      border-top-width: 1px;
    }
  }

}

.button-dropdown {
  @extend %inline-block-style;
  vertical-align: middle;
  text-align: center;

  &.disabled {
    > .button {
      @extend %not-allowed;
    }
  }

  .button {

    &:focus, &.active {
      ~ .menu {
        display: block;
      }
    }

  }

  @extend %menu;
  > .menu {
    margin-top: 0.2rem;
    @include border-radius($dp-border-radius);
  }

}