.input-group {
  @include make-inline-flex();

  & > .label, & > .element {
    @include make-flex();
    line-height: $input-group-label-line-height;
    justify-content: center;
    align-items: center;
    @include input-group-child();
  }

  & > .label {
    padding: $input-group-label-padding;
    border: $input-border;
    background-color: $input-label-background-color;

    &.inset {
      padding: 0;
      background-color: transparent;

      &.button-dropdown {
        > .button {
          border-width: 0;
        }
      }
    }

    &:not(:first-child):not(:last-child) {
      &.inset {
        &.button-dropdown {
          > .button {
            @include border-radius(0);
          }
        }
      }
    }

  }

  & > .element + .label:not(:first-child) {
    border-left: 0;
  }

  &.block {
    @include make-flex {
      width: 100%;
    }

    & > .element {
      @include flex-grow(1);
    }

  }
}
