
.input-group {
  vertical-align: middle;
  @include make-inline-block;

  & > .label {
    float: $input-group-label-float;
    line-height: $input-group-label-line-height;
    height: $input-group-label-height;
    padding: $input-group-label-padding;
    border: $input-border;
    background-color: $input-label-background-color;
  }

  & > .element {
    float: $input-group-element-float;
    line-height: $input-group-element-line-height;
  }

  & > .label, & > .element {
    @include input-group-child();
  }

  & > .element + .label:not(:first-child) {
    border-left: 0;
  }

  &.block {
    display: block;
    width: 100%;
  }

  //占据整行
  &.flexible {
    width: 100%;
    display: table;

    & > .element {
      display: table-cell;
      float: none;
      width: 100%;
    }

    & > .label {
      display: table-cell;
      float: none;
      width: 1%;
    }
  }
}
