.input {
  padding: $input-default-padding;
  border: $input-border;
  @include border-radius($input-border-radius);
  outline: $input-outline;
  line-height: $input-line-height;
  vertical-align: $input-vertical-align;
  -webkit-appearance: none;
  transition: all .2s ease-in-out;

  &.block {
    @include make-block {
      width: 100%;
    }
  }

  &.simple {
    @include border-radius(0);
    border-left: none;
    border-top: none;
    border-right: none;
    transition: all .2s;

    &:active, &:focus {
      border-bottom-width: $input-border-width;
      box-shadow: $input-simple-box-shadow;
    }
  }

  @include variant-size();

  @include make-placeholder {
    color: $input-placeholder-color;
    opacity: $input-placeholder-opacity;
  }

  //add 'disabled' and 'active' related settings
  &:disabled, &.disabled {
    @extend %not-allowed;
    pointer-events: none;
  }
  //only add 'active' related settings, and the 'disabled‘ settings don't need to add since no need
  //to change the default background color , text color and border color, and 'pointer-events' setting would prevent
  //any other default events from being triggered.
  &:focus, &:active, &.active {
    border-color: $input-border-active-color;
    box-shadow: $input-box-shadow;
  }

}

.icon-input {
  @include make-inline-block;

  &.block, & > .input {
    @include make-block {
      width: 100%;
    }
  }

  &.large {
    > .input {
      font-size: map-get($font-size, 'large');
      padding: $icon-input-large-padding;
    }

    > .icon {
      font-size: map-get($font-size, 'large');
      line-height: $icon-input-large-icon-line-height;
      width: $icon-input-large-icon-width;
      top: 0.9375rem;
    }
  }

  &.medium {
  }

  &.small {
    > .input {
      font-size: map-get($font-size, 'small');
      padding: $icon-input-small-padding;
    }

    > .icon {
      font-size: map-get($font-size, 'small');
      line-height: $icon-input-small-icon-line-height;
      width: $icon-input-small-icon-width;
      top: $icon-input-small-icon-top;
    }
  }

  &.left-icon {
    & > .input {
      padding-right: $icon-input-left-icon-input-padding-right;
      padding-left: $icon-input-left-icon-input-padding-left;
    }

    & > .icon {
      left: $icon-input-left-icon-left;
      top: $icon-input-left-icon-top;
    }

    &.large {
      > .input {
        padding: $icon-input-left-icon-input-large-input-padding;
      }
      > .icon {
        top: $icon-input-left-icon-input-large-icon-top;
      }
    }

    &.small {
      > .input {
        padding: $icon-input-left-icon-input-small-input-padding
      }
      > .icon {
        top: $icon-input-left-icon-input-small-icon-top;
      }
    }
  }

  & > .input {
    padding-right: $icon-input-right-icon-input-padding-right;

    &:active, &:focus {
      ~ .icon {
        color: $input-border-active-color;
      }
    }
  }

  & > .icon {
    color: $icon-input-icon-text-color;
    position: $icon-input-icon-position;
    right: $icon-input-right-icon-right;
    top: $icon-input-right-icon-top;
    line-height: $icon-input-icon-line-height;
    cursor: $icon-input-icon-cursor;
    width: $icon-input-left-icon-width;

    &:hover, &:focus {
      color: $input-border-active-color;
    }
  }

  &:disabled, &.disabled {
    @extend %not-allowed;
    pointer-events: none;
  }
}
