@keyframes default-loader {

  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}

.loader {
  display: none;
  position: absolute;
  width: $loader-size-normal;
  height: $loader-size-normal;
  border: $loader-size-normal * 0.1 solid $gray;
  border-right-color: $blue;
  animation: default-loader 1s linear infinite;
  @include border-radius(50%);
  left: calc((100% - #{$loader-size-normal}) / 2);
  top: calc((100% - #{$loader-size-normal}) / 2);

  &.active {
    display: block;
  }

  &.large {
    left: calc((100% - #{$loader-size-large}) / 2);
    top: calc((100% - #{$loader-size-large}) / 2);
    width: $loader-size-large;
    height: $loader-size-large;
  }

  &.small {
    width: $loader-size-small;
    height: $loader-size-small;
    left: calc((100% - #{$loader-size-small}) / 2);
    top: calc((100% - #{$loader-size-small}) / 2);
  }

  &.primary {

  }
}

.loader-container {
  .loader {
    color: $white;

  }

  &, > .mask, > .loader {
    display: none;
  }

  &.active {
    &, > .mask, > .loader {
      display: block;
    }
  }
}
