.submenu {
  @include make-menu(none) {
    @include border-radius($menu-border-radius);
    @include make-inline-flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
  }

  &.with-box {
    box-shadow: $default-box-shadow;
  }


  > .menu-list {
    > .item {
      @include make-menu-item;

      > .menu-icon {
        margin-right: $menu-icon-margin-right;
      }
    }
  }

  .menu-header {
    padding: $menu-header-padding;
    font-weight: map_get($font-weight, 'normal');
    position: relative;


    > .menu-icon {
      margin-right: $menu-icon-margin-right;
    }
  }

  //add a arrow icon for non-float menu
  &:not(.float) {
    .menu-header {
      @include make-arrow($default-arrow-border, $default-arrow-active-border, null, 'after', map_get($arrow-direction, 'down')) {
        position: absolute;
        right: 0.5rem;
        top: calc(50% - 2px);
      }
    }
  }

  &.block {
    display: flex;
  }

}

.menu {
  @extend .submenu;
  border: $menu-border;

  &.simple {
    border-width: 0;

    > .divider {
      display: none;
    }
  }

  &.float {
    flex-direction: row;

    //hide the menu list while menu header is placed
    .menu-header {
      flex: 0 0 auto;
      min-width: unset;
      align-self: center;
      align-items: stretch;
      flex-direction: row;
      transition: all .3s;

      //remove after
      &:after {
        content: none;
        border: none;
      }

      + .menu-list {
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: map_get($z-index, 'mask');
        left: 0;
        top: 2.625rem;
        background-color: #fff;
        box-shadow: $default-box-shadow;
      }

      &.active {
        color: $blue;

        //create the bottom border
        &:after {
          @include make-block(absolute) {
            left: 0;
            top: 100%;
            content: '';
            height: 0.1875rem;
            width: 100%;
            background-color: $blue;
            transition: width 0.5s;
            animation: change-width-smoothly 0.3s;
          }
        }

        + .menu-list {
          display: block;
          animation: show-menu-list .2s;
        }
      }

    }

    > .menu-list {
      @include make-flex {
        flex-direction: row;
        flex: 1 0 auto;
      }

      > .item {
        flex: 0 0 auto;
        min-width: unset;
        align-self: center;
        align-items: stretch;

        &.right {
          margin-left: auto !important;
          flex-grow: 1;
          text-align: right;
          justify-content: flex-end;
        }

        &.left {
          margin-right: auto !important;
          flex-grow: 1;
        }
      }
    }

    > .divider {
      display: none;

      & + .menu-list > .item {
        border-left: 1px solid #ccc;
      }
    }
  }

  &.primary {
    > .menu-list > .item {
      &:not(.disabled):not(.active):focus, &:not(.disabled):not(.active):hover {
        color: lighten($blue, 10%);
        background-color: inherit;
      }

      &.active {
        background-color: lighten($blue, 40%);
        border-right: 3px solid $blue;
        margin-right: -1px;
      }
    }
  }

  &.dark, &.dark .submenu {
    background-color: #000911;
    color: darken($white, 30%);

    &.float{
      .menu-list{
        background-color: #5d5e63e6;
      }
    }

    .menu-header {
      background-color: #5d5e63e6;
      color: darken($white, 10%);
      transition: all .2s;

      &:focus, &:hover {
        color: $white;
        text-shadow: $menu-item-hover-text-shadow;

        &:after {
          border-top-color: $white;
        }
      }


    }

    > .menu-list > .item {
      &.disabled {
        color: darken($white, 40%);
      }

      &:not(.disabled):focus, &:not(.disabled):hover {
        color: $white;
        text-shadow: $menu-item-hover-text-shadow;
      }

      &.active {
        background-color: $blue;
        color: $white;
        text-shadow: $menu-item-hover-text-shadow;
      }
    }
  }
}