.menu {
  @include make-menu($menu-border, $white) {
    @include make-inline-block;
    @include border-radius($menu-border-radius);
  }

  &.float {
    > .item {
      display: inline-block;
      float: left;
    }
  }

  &.inverted {
    > .item {
      background-color: $menu-item-background-color-inverted;
      color: $menu-item-text-color-inverted;

      &:not(.active):hover {
        background-color: rgba($menu-item-background-color-inverted, .6);
      }

      &.active, &:active {
        background-color: rgba($menu-item-background-color-inverted, .8);
      }
    }
  }

  > .item {
    @include make-menu-item;
  }

  &.block {
    width: 100%;
  }
}