.navbar {
  @include make-navbar($navbar-padding) {
    border: $navbar-border;
  }

  &.fixed {
    @include fixed(null, true, 100%);

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
    }
  }

  @extend .clear-fix;
  @include make-navbar-list;

  > .item {
    @include make-navbar-item($navbar-inactive-text-color);

    &.special {
      padding: $navbar-item-special-padding;
    }

    &.title {
      font-size: $navbar-title-font-size;
      color: $navbar-title-color;
      padding: $navbar-title-padding;
    }

    > .link {
      padding: $navbar-link-padding;
      @include make-block;
      color: $navbar-link-color;
    }

    &:not(.title) {
      &.active, &:hover {
        color: $navbar-item-active-color;
      }
    }
  }

  &.primary {
    background-color: $navbar-background-color-primary;

    > .item {
      color: $navbar-primary-item-color;

      &.title {
        color: $navbar-primary-title-color;
      }

      &:not(.title) {
        &.active, &:hover {
          color: $navbar-primary-active-color;
        }
      }
    }
  }

  //simple navbar
  &.simple {
    border-width: 0;

    > .item {
      &.active, &:focus, &:hover {
        &:not(.title):not(.special) {
          > .link {
            &:after {
              @include make-block(absolute) {
                left: 0;
                bottom: 0;
                content: '';
                height: $navbar-simple-item-link-border-height;
                width: $navbar-simple-item-link-border-width;
                background-color: $navbar-simple-item-link-background-colorh;
              }
            }
          }
        }
      }
    }

    &.primary {
      background-color: $navbar-background-color-primary;
      border-bottom: $navbar-simple-primary-border-botom;

      .item {
        color: $navbar-simple-primary-item-color;
        border-bottom-width: $navbar-simple-primary-item-border-bottom-width;

        &.title {
          color: $navbar-simple-primary-title-color;
        }

        &:not(.title) {
          &.active, &:hover {
            color: $navbar-simple-primary-item-active-color;
          }
        }

        &.active, &:focus, &:hover {
          &:not(.title):not(.special) {
            > .link {
              &:after {
                @include make-block(absolute) {
                  background-color: $navbar-simple-primary-item-link-active-background-color;
                }
              }
            }
          }
        }
      }

    }

  }

}
