.navbar {
  @include make-block;
  @include border-radius($navbar-border-radius);
  border: $navbar-body-border;
  background-color: $navbar-background-color;

  @extend .clear-fix;

  > .item {
    @include make-inline-block;
    color: $navbar-item-inactive-color;
    padding: 1rem 1rem;
    text-align: center;
    vertical-align: middle;
    float: left;
    cursor: pointer;
    align-items: center;
    line-height: 1.5rem; // a very important setting needs to dig out

    &.title {
      font-weight: 500;
      font-size: 1.5rem;
      color: $text-color;
    }

    > .link {
      text-decoration: none;
      color: inherit;
    }

    .navbar-icon {
      padding-top: 0.4375rem;
    }

    &:hover,
    &.active {
      color: $navbar-item-active-color;
      //background-color: darken($navbar-background-color, 20%);
    }
  }

  &.primary {
    background-color: $navbar-background-color-primary;

    > .item {
      color: $navbar-item-inactive-color-primary;

      a {
        color: $navbar-item-inactive-color-primary;
      }

      &:hover,
      &.active {
        color: $navbar-item-active-color-primary;
        @include linear-gradient(lighten($navbar-background-color-primary, 10%), $navbar-background-color-primary 70%, lighten($navbar-background-color-primary, 10%));

        a {
          color: $navbar-item-active-color-primary;
        }
      }
    }

  }

}