.navbar {
  @include make-navbar($navbar-padding) {
    border: $navbar-border;
  }

  @extend .clear-fix;
  @include make-navbar-list;

  > .item {
    @include make-navbar-item($navbar-inactive-text-color);

    &.special {
      padding: 0 .5rem;
    }

    &.title {
      font-size: $navbar-title-font-size;
      color: $navbar-title-color;
      padding: 0 0.5rem;
    }

    > .link {
      padding: 0 .5rem;
      @include make-block;
      color: inherit;
    }

    &:not(.title) {
      &.active, &:hover {
        color: $text-color;
      }
    }
  }

  &.primary {
    background-color: $navbar-background-color-primary;

    > .item {
      color: darken($white, 10%);

      &.title {
        color: $white;
      }

      &:not(.title) {
        &.active, &:hover {
          color: $white;
        }
      }
    }
  }

  //simple navbar
  &.simple {
    border-width: 0;

    > .item {
      &.active, &:focus, &:hover {
        &:not(.title):not(.special) {
          > .link {
            &:after {
              @include make-block(absolute) {
                left: 0;
                bottom: 0;
                content: '';
                height: 3px;
                width: 100%;
                background-color: $blue;
              }
            }
          }
        }
      }
    }

    &.primary {
      background-color: $navbar-background-color-primary;
      border-bottom: 0;

      .item {
        color: darken($white, 10%);
        border-bottom-width: 0;

        &.title {
          color: $white;
        }

        &:not(.title) {
          &.active, &:hover {
            color: $white;
          }
        }

        &.active, &:focus, &:hover {
          &:not(.title):not(.special) {
            > .link {
              &:after {
                @include make-block(absolute) {
                  background-color: $green;
                }
              }
            }
          }
        }
      }

    }

  }

}
