%popover-arrow-common {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border: 12px solid transparent;
  z-index: 101;
}

.popover {
  @include make-inline-block;
  position: absolute;
  z-index: $po-z-index;
  display: none;

  &.active {
    display: inline-block;
  }

  > .card {
    position: relative;
  }

  .popover-arrow {
    &.top {
      @extend %popover-arrow-common;
      left: 50%;
      top: 100%;
      margin-left: -12px;
      border-bottom-width: 0;
      border-top-color: $popover-arrow-border-color;

      &::after {
        content: '';
        left: 50%;
        top: -12px;
        margin-left: $popover-border-width;
        @extend %popover-arrow-common;
        margin-top: -1px;
        border-bottom-width: 0;
        border-top-color: $popover-arrow-overlap-background-color;
      }
    }

    &.top-left {
      @extend .top;

      left: 2rem;
    }

    &.top-right {
      @extend .top;

      left: calc(100% - 2rem);
    }

    &.bottom {
      @extend %popover-arrow-common;
      left: 50%;
      top: $popover-border-width;
      margin-left: $popover-border-width;
      border-top-width: 0;
      border-bottom-color: $popover-arrow-border-color;

      &::after {
        content: '';
        @extend %popover-arrow-common;
        top: 1px;
        left: $popover-border-width;
        border-top-width: 0;
        border-bottom-color: $popover-arrow-overlap-background-color;
      }
    }

    &.bottom-left {
      @extend .bottom;
      left: 2rem;
    }

    &.bottom-right {
      @extend .bottom;
      left: calc(100% - 2rem);
    }

    &.left {
      @extend %popover-arrow-common;
      left: 100%;
      top: 50%;
      margin-top: $popover-border-width;
      border-right-width: 0;
      border-left-color: $popover-arrow-border-color;

      &::after {
        content: '';
        top: $popover-border-width;
        left: $popover-border-width;
        @extend %popover-arrow-common;
        margin-left: -1px;
        border-right-width: 0;
        border-left-color: $popover-arrow-overlap-background-color;
      }
    }


    &.right {
      @extend %popover-arrow-common;
      left: $popover-border-width;
      top: 50%;
      margin-top: $popover-border-width;
      border-left-width: 0;
      border-right-color: $popover-arrow-border-color;

      &::after {
        content: '';
        @extend %popover-arrow-common;
        left: 1px;
        top: 50%;
        margin-top: $popover-border-width;
        border-left-width: 0;
        border-right-color: $popover-arrow-overlap-background-color;
      }
    }

  }
}