.tab {
  @extend .clear-fix;
  margin-bottom: 1rem;

  > .menu {
    display: block;

    > .item {
      &.disabled {
        background-color: transparent !important;
      }
    }

    &.top {
      border-left-width: 0;
      border-top-width: 0;
      border-right-width: 0;

      > .item {
        display: inline-block;
        float: left;
        @include full-border-radius(0.25rem, 0.25rem, 0, 0);

        &.active {
          margin-bottom: -1px;
          background-color: transparent;
          border: 1px solid #ccc;
          border-bottom-color: #fff;
        }

      }

      &.nav-inverted {
        border-width: 0;

        > .item {
          border-width: 0;
          transition: all 0.2s;

          &.active {
            border-style: inset;
            border-bottom: 2px solid #ccc;
          }
        }
      }
    }

    &.left {
      border-left-width: 0;
      border-top-width: 0;
      border-bottom-width: 0;

      > .item {
        display: block;
        @include full-border-radius(0.25rem, 0, 0.25rem, 0);

        &.active {
          margin-right: -1px;
          background-color: transparent;
          border: 1px solid #ccc;
          border-right-color: #fff;
        }

      }
    }

    &.bottom {
      border-left-width: 0;
      border-right-width: 0;
      border-bottom-width: 0;

      > .item {
        display: inline-block;
        float: left;
        @include full-border-radius(0, 0, 0.25rem, 0.25rem);

        &.active {
          margin-top: -1px;
          background-color: transparent;
          border: 1px solid #ccc;
          border-top-color: #fff;
        }

      }
    }

    &.right {
      border-top-width: 0;
      border-right-width: 0;
      border-bottom-width: 0;

      > .item {
        display: block;
        @include full-border-radius(0, 0.25rem, 0, 0.25rem);

        &.active {
          margin-left: -1px;
          background-color: transparent;
          border: 1px solid #ccc;
          border-left-color: #fff;
        }

      }
    }

  }
}