.toggle {
  position: relative;
  @include make-inline-flex();
  font-size: 0.75rem;
  color: $white;
  font-weight: map_get($font-weight, 'bold');
  transition: all .7s;
  vertical-align: middle;
  min-width: 3.5rem;

  + .toggle {
    margin-left: 0.5rem;
  }

  &.on {
    .bar {
      background-color: #98BFD0;
    }

    .ball {
      background-color: #277ED0;
      color: $white;
    }
  }

  &.off {
    .bar {
      background-color: $gray;
    }

    .ball {
      background-color: $light-gray;
      left: 0;
      color: $gray;
    }
  }

  .bar {
    margin: 0.3rem 0;
    padding: 0 0.5rem 0 1.8rem;
    height: 1rem;
    width: 100%;

    @include border-radius(1.5rem);
    //box-shadow: $default-box-shadow;
  }

  .ball {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 1.6rem;
    height: 1.6rem;
    width: 1.6rem;
    @include border-radius(50%);
    box-shadow: $default-box-shadow;
    text-align: center;
  }

  &.primary {

    &.on {
      .bar {
        background-color: #277ED0;
        text-align: right;
      }

      .ball {
        background-color: $white;
        color: #277ED0;
        top: 0.1rem;
        right: 0.05rem;
      }
    }

    &.off {
      .bar {
        text-align: left;
      }

      .ball {
        background-color: $white;
        top: 0.1rem;
        left: 0.05rem;
      }
    }

    .bar {
      height: 1.6rem;
      line-height: 1.6rem;
      margin: 0;
      vertical-align: middle;
    }

    .ball {
      box-shadow: none;
      line-height: 1.4rem;
      height: 1.4rem;
      width: 1.4rem;
    }
  }

}