
.toggle {
  position: relative;
  @include make-inline-flex();
  font-size: 0.75rem;
  color: $white;
  font-weight: map_get($font-weight, 'bold');
  transition: all .4s;
  vertical-align: middle;
  min-width: 3.5rem;
  cursor: pointer;

  + .toggle {
    margin-left: 0.5rem;
  }

  &.disabled {
    pointer-events: none !important;
  }

  .bar {
    display: inline-flex;
    align-items: center;
    margin: 0.25rem 0;
    padding: 0 0.5rem 0 1.8rem;
    height: 1rem;
    width: 100%;

    @include border-radius(1.5rem);
  }

  .ball {
    position: absolute;
    top: 0;
    right: 0;
    height: 1.5rem;
    width: 1.5rem;
    @include border-radius(50%);
    box-shadow: $default-box-shadow;
    text-align: center;
  }


  &.on {
    .bar {
      background-color: #98BFD0;
    }

    .ball {
      background-color: #277ED0;
      color: $text-color;
    }
  }

  &.off {
    .bar {
      background-color: $gray;
    }

    .ball {
      background-color: $light-gray;
      left: 0;
      color: $gray;
    }
  }

  &.secondary, &.primary {
    @include border-radius;
    padding: 0.25rem;
    @include make-inline-flex;
    align-items: center;
    font-size: 0.75rem;
    min-height: 2rem;
    line-height: 2rem;
    min-width: 3.5rem;

    &.on {
      background-color: #277ED0;
    }

    &.off {
      background-color: $gray;
      flex-flow: row-reverse;
    }

    .bar {
      @include make-flex-center;
      margin: 0;
      padding: 0 0.5rem;
      background-color: inherit;
      flex: 0 1 auto;
    }

    .ball {
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      background-color: $white;
      @include border-radius;
      box-shadow: none;
      flex: 0 0 auto;
    }
  }

  &.primary {
    border-radius: 1.5rem;
    min-width: 4.5rem;

    > .ball {
      border-radius: 50%;
    }
  }

}