.base-btn {
  @include make-inline-block();
  padding: $elem-default-padding;
  cursor: $btn-cursor;
  outline: none;
  line-height: $btn-line-height;
  text-align: $btn-text-align;
  text-decoration: $btn-text-decoration;
  @include border-radius();
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  transition: all .2s ease-in-out;

  &.min-width {
    min-width: 5rem;
  }

  // can be disabled
  @include add-disabled-conf;

}