.flex-align {
  display: flex;
  align-items: center;

  &.left {
    justify-content: flex-start !important;
  }

  &.right {
    justify-content: flex-end !important;
  }

  &.center {
    justify-content: center !important;
  }
}