//Text classes
.text {
  &.bold {
    font-weight: map-get($font-weight, 'bold');
  }

  &.align-left {
    text-align: left !important;
  }

  &.align-center {
    text-align: center !important;;
  }

  &.align-right {
    text-align: right !important;;
  }

  &.comment {
    color: $text-comment-color !important;
  }

  &.ok {
    color: $text-ok-color !important;
  }

  &.warning {
    color: $text-warning-color !important;
  }

  &.error {
    color: $text-error-color !important;
  }

  @each $name, $color in $colors {
    &.#{$name} {
      color: $color !important;

      &-hover {
        color: inherit !important;

        &:hover, &:focus {
          color: $color !important;
        }

        &.active {
          color: darken($color, 5%) !important;
        }
      }
    }

  }
}