//for search select
$ss-border: 1px solid #ccc;
$ss-menu-box-shadown: 0 2px 7px 0 rgba(0, 0, 0, 0.24);
$ss-background-color: #ffffff;
$ss-tag-background-color: #eee;

//for datepicker
$datapicker-box-shadown: 0 2px 7px 0 rgba(0, 0, 0, 0.24);
$datapicker-title-backgournd-color: $blue;
$datapicker-title-year-text-color: $white;
$datapicker-day-selected-background-color: darken($datapicker-title-backgournd-color, 10%);
$datapicker-day-hover-background-color: #73AFFF;
$datepicker-default-background-color: #ffffff;


//for time picker
$timepicker-default-background-color: #ffffff;
$timepicker-box-shadow: $default-box-shadow;

