//for search select
$ss-border: 1px solid #ccc;
$ss-menu-box-shadown: 0 2px 7px 0 rgba(0, 0, 0, 0.24);
$ss-background-color: #ffffff;
$ss-tag-background-color: #eee;

//for datepicker
$datapicker-box-shadown: 0 2px 7px 0 rgba(0, 0, 0, 0.24);
$datapicker-title-backgournd-color: #0097A7;
$datapicker-title-year-text-color: $white;
$datapicker-day-selected-background-color: darken(#0097A7, 10%);
$datapicker-day-hover-background-color: lighten(#0097A7, 50%);
$datepicker-default-background-color: #ffffff;

//for drawer
$drawer-box-shadown: 0 2px 7px 0 rgba(0, 0, 0, 0.4);

//for time picker
$timepicker-default-background-color: #ffffff;
$timepicker-box-shadow: $default-box-shadow;

