$black: #000000;
$blue: #000000;
$brown: #000000;
$cyan: #000000;
$green: #000000;
$light-gray: #000000;
$gray: #000000;
$gray-darker: #000000;
$gray-deep:#000000;
$dark: #000000;
$light: #000000;
$orange: #000000;
$pink: #000000;
$purple: #000000;
$red: #000000;
$yellow: #000000;
$teal: #000000;
$violet: #000000;
$white: #000000;

$btn-line-height: 5.5;