.button {

  &.outline {
    background-color: #ffffff;
    @include generate-button-add-ons('black', $white, $black, $black);
    @include generate-button-add-ons('brown', $white, $brown, $brown);
    @include generate-button-add-ons('pink', $white, $pink, $pink);
    @include generate-button-add-ons('purple', $white, $purple, $purple);
    @include generate-button-add-ons('violet', $white, $violet, $violet);
    @include generate-button-add-ons('blue', $white, $blue, $blue);
    @include generate-button-add-ons('teal', $white, $teal, $teal);
    @include generate-button-add-ons('green', $white, $green, $green);
    @include generate-button-add-ons('yellow', $white, $yellow, $yellow);
    @include generate-button-add-ons('orange', $white, $orange, $orange);
    @include generate-button-add-ons('red', $white, $red, $red);
  }
  &.black {
    background-color: $black;
    color: $white;

    &.inverted {
      border-color: $white
    }
  }
  @include generate-button-add-ons('brown', $brown, $white);
  @include generate-button-add-ons('pink', $pink, $white);
  @include generate-button-add-ons('purple', $purple, $white);
  @include generate-button-add-ons('violet', $violet, $white);
  @include generate-button-add-ons('blue', $blue, $white);
  @include generate-button-add-ons('teal', $teal, $white);
  @include generate-button-add-ons('green', $green, $white);
  @include generate-button-add-ons('yellow', $yellow, $white);
  @include generate-button-add-ons('orange', $orange, $white);
  @include generate-button-add-ons('red', $red, $white);
}
