//calendar widget depends on dialog
.date-picker {
  display: inline-flex;
  flex-flow: column;
  //position: absolute;
  //width: 300px;
  //z-index: 100;
  box-shadow: $datapicker-box-shadown;
  //left: 0;
  //top: 100%;
  background-color: $datepicker-default-background-color;
  border-radius: $default-border-radius;

  > .title {
    padding: .5rem 1rem;
    //background-color: $datapicker-title-backgournd-color;
    background: $default-primary-background;
    border-top-left-radius: $default-border-radius;
    border-top-right-radius: $default-border-radius;
    font-weight: map_get($font-weight, 'normal');;

    > .year-info {
      color: $datapicker-title-year-text-color;
      font-size: 1.5rem;
    }

    > .detail-info {
      color: $datapicker-title-year-text-color;
      font-size: 1.5rem;
    }
  }

  > .body {
    padding: 0 .5rem;
    min-width: 16rem;

    > .info {
      padding: 0.25rem 0.25rem;
      display: flex;
      justify-content: center;

      .button {
        width: 2rem;
        height: 2rem;
        margin: 0.1rem 0;
      }

      .button + .button:not(.block) {
        margin: 0 !important;
        padding: 0.25rem;
      }

      > .previous {
        flex: 1 0 auto;
      }

      > .content {
        @include make-flex-center {
          flex: 0 1 45%;
          text-align: center;
          font-size: .8rem;
          font-weight: map_get($font-weight, "normal");
        }
      }

      > .next {
        flex: 1 0 auto;
      }

      > .previous .button, > .content .button, > .next .button {
        border: 0;
      }
    }

    > .data-picker-table {
      width: 100%;
      font-size: .8rem;

      td {
        text-align: center;
        vertical-align: middle;

        .button {
          padding: 0;
          width: 1.5rem;
          height: 1.5rem;
          transition: background-color .2s;
          border: none;
          color: $btn-default-text-color;
        }
      }
    }

    > .footer {
      display: flex;
      flex: 0 1 auto;
      padding: 0.5rem;
      border-bottom-left-radius: $default-border-radius;
      border-bottom-right-radius: $default-border-radius;

      > .left {
        display: flex;
        align-items: flex-end;
        flex: 0 1 auto;
        padding-left: 0.5rem;
        color: $blue;
      }

      > .right {
        display: flex;
        flex: 1 0 auto;
        padding-right: 0.5rem;
        justify-content: flex-end;
      }
    }
  }

  &.left-title {
    flex-flow: row;

    > .title {
      min-width: 9rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: $default-border-radius;
    }
  }
}