
.drawer {
  display: none;
  position: fixed;
  z-index: map_get($z-index, 'top');
  height: 100%;
  box-shadow: $drawer-box-shadown;
  background-color: $white;


  &.normal {
    width: $drawer-normal-length;
  }

  &.left {
    left: 0;
    top: 0;
    animation-name: drawer-animation;
    animation-duration: $drawer-animation-duration;
  }

  &.active {
    display: inline-block;
    width: $drawer-normal-length;
  }


  &.top {
    width: 100%;
    height: $drawer-normal-length;
    animation-name: drawer-animation-top;
    animation-duration: $drawer-animation-duration;
    left: 0;
    top: 0;
  }

  &.right {
    top: 0;
    right: 0;
    top: 0;
    width: $drawer-normal-length;
    height: 100%;
    animation-name: drawer-animation-right;
    animation-duration: $drawer-animation-duration;

  }

  &.bottom {
    left: 0;
    bottom: 0;
    height: $drawer-normal-length;
    width: 100%;
    animation-name: drawer-animation-bottom;
    animation-duration: $drawer-animation-duration;
  }

}