//this widget depends on menu element
.search.select {
  display: inline-block;
  position: relative;

  > .content {
    padding-left: 0.25rem;
    border: $ss-border;
    @include border-radius($input-border-radius);

    .input {
      border: none;
      padding-left: 0;
      padding-right: 0;
      box-shadow: none;
    }

    > .tag {
      @extend %inline-block-style;
      background-color: $ss-tag-background-color;
      padding: 0 0.5rem;
      @include border-radius(0.75rem);
      border: $ss-border;

      > .text {
        font-weight: map-get($font-weight, 'heavy');
        margin-right: 0.25rem;
      }

      > .icon {
        color: darken($gray, 20%);
        cursor: pointer;
      }

      &:not(:last-child) {
        margin-right: 0.25rem;
      }
    }
  }

  > .menu {
    position: absolute;
    height: 20rem;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    top: 100%;
    display: none;
    transition: display 0.2s;
    z-index: 100;
    box-shadow: $ss-menu-box-shadown;
    background-color: $ss-background-color;

    > .input-item {
      //position: fixed;
      padding: 0.5rem .5rem;
    }
  }

}