.time-item {
  height: 10rem;
  width: 4rem;
  display: inline-block;
  border: 1px solid #ccc;
  float: left;
  overflow: hidden;
  border-collapse: collapse;

  > .menu > .item {
    text-align: left;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }

  &:hover, &:focus {
    overflow-y: auto;
  }
}

.time {
  display: inline-block;
  position: absolute;
  z-index: 100;
  box-shadow: $timepicker-box-shadow;
  left: 0;
  top: 100%;
  background-color: $timepicker-default-background-color;
  width:12rem;

  > .hour {
    @extend .time-item;
  }

  > .minute {
    @extend .time-item;
  }

  > .second {
    @extend .time-item;
  }
}
