.toggle {
  &.secondary {
    @include border-radius;
    padding: 0.25rem;
    @include make-inline-flex;
    align-items: center;
    font-size: 0.75rem;
    min-height: 2rem;
    line-height: 2rem;
    min-width: 3.5rem;

    &.on {
      background-color: #277ED0;
    }

    &.off {
      background-color: $gray;
      flex-flow: row-reverse;
    }

    .bar {
      @include make-flex-center;
      margin: 0;
      padding: 0 0.5rem;
      background-color: inherit;
      flex: 0 1 auto;
    }

    .ball {
      position: relative;
      width: 1.5rem;
      height: 1.5rem;
      background-color: $white;
      @include border-radius;
      box-shadow: none;
      flex: 0 0 auto;
    }
  }
}