body {
  font-size: 16px;
  font-family: Microsoft YaHei, tahoma, arial, sans-serif;
  line-height: 1.5rem;
  color: $text-color;
  background-color: $body-background-color;

  text-rendering: optimizeLegibility;

  //for  anti-aliasing
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 100;
  overflow: hidden;
}

//////////////////////////////////////////////////////////////////////////////////

//Global configuration
$global: (
  //import css reset file
        'importCssResetFile': true
);

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.pull-center {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.fixed {
  position: fixed !important;
  z-index: 1000;

  &.top {
    top: 0 !important;
  }

  &.bottom {
    bottom: 0 !important;
  }
}

a {
  color: $link-color;
  text-decoration: $link-text-decoration;
  cursor: $link-cursor;

  &:active, &.active, &:hover, &:focus {
    color: $link-active-color;
  }
}
