
//there will be corresponding buttons generated if the property starts with "color-primary"
$colors: (
        comment:$red,
        ok: $red,
        error: $red,
        color-primary: $red,
        color-secondary: $gray,
        color-info: $cyan,
        color-success: $green,
        color-warning: $yellow,
        color-danger: $red,
        color-black: $black,
        color-blue: $red,
        color-brown: $brown,
        color-cyan: $cyan,
        color-dark: $dark,
        color-green: $green,
        color-gray:$gray,
        color-gray-darker: $gray-darker,
        color-light: $light,
        color-light-gray: $light-gray,
        color-orange: $orange,
        color-pink: $pink,
        color-purple: $purple,
        color-red: $red,
        color-yellow: $yellow,
        color-teal: $teal,
        color-violet: $violet,
        color-white: $white,
);