%close-btn {
  border-width: 0;
  padding: 0;
  opacity: .6;
  background-color: transparent;


  @include only-focus-active {
    opacity: 1;
    transform: scale(1.2, 1.2);
    transform-origin: center;
    background-color: transparent;
    box-shadow: unset;
  }
}

.alert {
  @include make-flex {
    position: relative;
    flex: 1 0 100%;
    flex-flow: row nowrap;
    padding: 0.5rem 1rem;
    border-radius: $default-border-radius;
    margin-bottom: 0.5rem;
  }

  &.enter {
    opacity: 0;
    transform: scaleY(0);
  }

  &.enter-active {
    opacity: 1;
    transform: scaleY(1);
    transition: all .3s;
  }

  &.leave {
    transform: scaleY(1);
    max-height: 200px;
    opacity: 1;
    //animation: alert-leave .5s ease-in-out;
  }

  &.leave-active {
    max-height: 0;
    opacity: 0;
    //transform: scaleY(0);
    transition: all .3s;
    //animation: alert-leave .5s ease-in-out;
  }

  &.leave-done {
    display: none;
    opacity: 0;
    //transform: scaleY(0);
    max-height: 0;
  }

  &.normal {
    display: inline-flex;
    min-width: 20rem;
  }

  &.block {
    display: flex;
    flex: 1 1 100%;
  }

  &.with-title {
    > .alert-close {
      align-items: flex-start;
    }
  }

  > .alert-content {
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;

    > .title {
      font-weight: 500;
    }
  }

  > .alert-icon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 0 0 auto;
    padding-right: 0.75rem;
    font-size: 1.5rem;
  }

  > .alert-close {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 0 0 auto;

    > .close-btn {
      @extend %close-btn;
    }
  }

  &.alert-info {
    background-color: #d6eaff;
    border: 1px solid darken(#d6eaff, 10%);

    border-left-width: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-left-color: $blue;

    > .alert-icon {
      color: $blue;
    }

    &:focus, &:hover {
      box-shadow: 1px 1px 6px 0 darken(#d6eaff, 10%);
    }
  }


  &.alert-simple, &.alert-mini {
    border: 1px solid $default-border-color;
    box-shadow: $default-box-shadow;
    background: $white;

    > .alert-close {
      align-items: flex-start;
    }

    > .alert-icon {
      color: $blue;
    }
  }

  &.alert-simple {
    > .alert-content {
      > .body {
        min-height: 4rem;
      }
    }
  }

  &.alert-ok {
    background-color: darken(#f6ffed, 10%);
    border: 1px solid darken(#36e73c70, 20%);
    border-left-width: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-left-color: green;

    > .alert-icon {
      color: $green;
    }

    &:focus, &:hover {
      box-shadow: 1px 1px 6px 0 darken(#36e73c70, 10%);
    }
  }


  &.alert-warning {
    background-color: darken(#fff3cd, 10%);
    border: 1px solid darken(#fff3cd, 20%);

    border-left-width: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-left-color: $yellow;

    > .alert-icon {
      color: $yellow;
    }

    &:focus, &:hover {
      box-shadow: 1px 1px 6px 0 darken(#fff3cd, 20%);
    }
  }


  &.alert-error {
    background-color: #ffd9d7;
    border: 1px solid #e8818a;

    border-left-width: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-left-color: $red;

    > .alert-icon {
      color: $red;
    }

    &:focus, &:hover {
      box-shadow: 1px 1px 6px 0 #e8818a;
    }
  }
}

.alert-container {
  display: flex;
  flex-flow: row wrap;
  top: 1rem;
  position: fixed;
  width: 90%;
  z-index: map_get($z-index, 'top');

  @include adapter-width('min-width', map-get($bs-layout, 'sm')) {
    & {
      width: 90%;
    }
  }

  @include adapter-width('min-width', map-get($bs-layout, 'md')) {
    & {
      width: 60%;
    }
  }


  @include adapter-width('min-width', map-get($bs-layout, 'xl')) {
    & {
      width: 50%;
    }
  }
}



