.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  list-style: none;
  align-items: center;

  &.with-bg {
    background: $light-gray;
    border-radius: $default-border-radius;
  }

  > .bc-divider, > .item {
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }

  > .item {
    cursor: pointer;
    color: rgba(0, 0, 0, .5);

    &:hover, &:focus, &.active {
      color: $blue;
    }

    > .icon {
      &:first-child:not(:last-child), &:not(first-child):not(last-child) {
        margin-right: 0.25rem;
      }
    }

  }

  > .bc-divider {
    color: rgba(0, 0, 0, .5);
  }
}