.button-group {
  @include make-inline-flex;
  flex-wrap: $btn-group-flex-wrap;

  > .button {
    margin: $btn-group-buttons-margin;
    @include group-border-radius($btn-group-border-radius);
  }

  > .button-dropdown:first-child {
    > .button, > .title > .button {
      @include first-button;
    }
  }

  > .button-dropdown:last-child {
    > .button, > .title > .button {
      @include last-button;
    }
  }

  > .button-dropdown:not(:first-child):not(:last-child) {
    //for button and dropdown's button
    > .button,
    > .title > .button {
      @include middle-button;
    }
  }


  > .button {
    &:first-child {
      @include first-button;
    }

    &:last-child {
      @include last-button;
    }

    &:not(:first-child):not(:last-child) {
      @include middle-button;
    }
  }

  &.block {
    @include make-flex-center;

    //display:table-cell 以表格单元格的形式呈现，可看做td标签。
    //table-cell同样会被其他属性破坏，例如float, position:absolute，
    //所以，在使用display:table-cell与float:left或是position:absolute属性尽量不用同时使用。
    > .button {
      flex-grow: 1;
    }
  }

  &.vertical {
    flex-direction: column;

    > .button {
      display: block;
      width: 100%;

      &:first-child {
        @include full-border-radius($btn-group-border-radius, $btn-group-border-radius, 0, 0);
        border-bottom-width: 0;
      }

      &:last-child {
        border-left-width: $btn-border-width;
        @include full-border-radius(0, 0, $btn-group-border-radius, $btn-group-border-radius);
      }

      &:not(:first-child):not(:last-child) {
        border-left-width: $btn-border-width;
        border-bottom-width: 0;
        @include border-radius(0);

        &:focus, &:hover, &:active {
          border-left-width: $btn-group-border-width;
          border-right-width: $btn-group-border-width;
        }
      }
    }
  }

  &.outline {
    > .button {
      @extend .button.outline;
      @include group-border-radius($btn-group-border-radius);
    }
  }

  @include button-group-variant-size();

  @include button-group-disabled();
}