
.button {
  @extend .base-btn;
  border: none;
  transition: background .3s, box-shadow .3s;

  &.with-outline-bg {

  }

  &.without-border {
    border-color: transparent !important;
  }

  &.without-box {
    box-shadow: none !important;
  }

  + .button {
    margin-left: .5rem;
  }

  &.default {
    @include generate-btn($btn-default-background-color, $text-color);
    @include enable-active($btn-default-background-color, $text-color);
    border: 1px solid $default-border-color;

    &.inverted {
      border: none;
    }
  }

  //other buttons
  @each $name, $color in $btn-colors {
    &.#{$name} {
      &.normal {
        color: get-text-color($name);//todo
        background: $color;
        @include enable-active($color, get-text-color($name));
      }

      &.inverted {
        @include generate-btn(transparent, inherit);
        @include enable-active($color, $white);
      }
    }
  }

  &.outline {
    @each $name, $color in $btn-colors {
      &.#{$name} {
        @include generate-btn(transparent, $color);

        &.with-outline-bg {
          box-shadow: 0 0 0 2px darken($color, $default-color-increase-ratio) inset;
        }

        &.with-default-color {
          color: $btn-default-text-color;
          box-shadow: 0 0 0 1px darken($default-border-color, $default-color-increase-ratio) inset;
        }

        &.inverted-outline {
          color: $white;
          box-shadow: 0 0 0 2px darken($white, $default-color-increase-ratio) inset;
        }

        @include enable-outline-active($color, $white);
      }
    }
  }

  //同级的block button，margin-top:0.5rem
  &.block {
    @include make-flex {
      width: 100%
    }

    + .block {
      margin-top: $btn-margin-top-button;
    }
  }

  &.circle {
    @include flex-center(inline-flex);
    width: $btn-cicle-width;
    height: $btn-cicle-height;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0;
    overflow: hidden;
    @include border-radius($btn-cicle-border-radius);

    &.small {
      width: 1.925rem;
      height: 1.925rem;
    }

    &.large {
      width: 2.475rem;
      height: 2.475rem;
    }
  }

  @include variant-size();

  > .loader {
    @include child-margin(0.5rem);

    &.third,
    &.secondary {
      &.small {
        vertical-align: -0.25rem;
      }
    }
  }

  > .svg, > svg, > .icon {
    vertical-align: -0.15em;

    //todo: not working as expected
    &:first-child:not(:last-child) {
      margin-right: 0.5rem;
    }

    &:last-child:not(:first-child) {
      margin-left: 0.5rem;
    }
  }


}
