
.button {
  @extend .base-btn;

  //default button
  @include add-simple-button-content($btn-default-background-color, $btn-default-text-color, $btn-border-color,
          lighten($btn-border-color, 5%));


  //other buttons
  @each $name, $color in $btn-colors {
    &.#{$name} {
      @include add-simple-button-content($color, $white, darken($color, $default-color-increase-ratio),
              lighten($color, 30%));
    }
  }

  @mixin generate-outline-button($className,$btn-bg-color,$btn-color, $btn-boxshadow-color) {
    &.#{$className} {
      @include generate-local($btn-bg-color, $btn-color, $btn-color);
      @include generate-active($btn-color, $white, $btn-color, $btn-boxshadow-color);
    }
  }

  &.outline {
    @each $name, $color in $btn-colors {
      &.#{$name} {
        @include generate-local(transparent, $color, $color);
        @include generate-active($color, $white, $color, lighten($color, 30%));
      }
    }
  }

  //同级的block button，margin-top:0.5rem
  &.block {
    @include make-block {
      width: 100%
    }

    + .block {
      margin-top: $btn-margin-top-button;
    }
  }

  //同级的button但不是block button的，默认margin-left:0.5rem
 /* + .button:not(.block), + .button-dropdown, + .dropdown {
    margin-left: $btn-margin-left-button;
  }*/

  &.circle {
    @include flex-center(inline-flex);
    width: $btn-cicle-width;
    height: $btn-cicle-height;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0;
    @include border-radius($btn-cicle-border-radius);
  }

  @include variant-size();

  > .loader {
    @include child-margin(0.5rem);

    &.third,
    &.secondary {
      &.small {
        vertical-align: -0.25rem;
      }
    }
  }

  > .svg, > svg, > .icon {
    vertical-align: -0.15em;

    //todo: not working as expected
    &:first-child:not(:last-child) {
      margin-right: 0.5rem;
    }

    &:last-child:not(:first-child) {
      margin-left: 0.5rem;
    }
  }


}
