@mixin first-button {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right-width: 0 !important;
}

@mixin last-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left-width: 0;
}

@mixin middle-button {
  border-radius: 0;
  border-right-width: 0;
  border-left-width: 0;
}

.button-group {
  //@include make-inline-block();
  display: inline-block;
  //vertical-align: middle;

  > .button {
    margin: $btn-group-buttons-margin;
    float: $btn-group-buttons-float;

    @include group-border-radius($btn-group-border-radius);
  }

  > .button-dropdown:first-child {
    > .button, > .title > .button {
      @include first-button;
    }
  }

  > .button-dropdown:last-child {
    > .button, > .title > .button {
      @include last-button;
    }
  }

  > .button-dropdown:not(:first-child):not(:last-child) {
    > .button, > .title > .button {
      @include middle-button;
    }
  }


  > .button {
    &:first-child {
      @include first-button;
    }

    &:last-child {
      @include last-button;
    }

    &:not(:first-child):not(:last-child) {
      @include middle-button;
    }
  }

  &.block {
    table-layout: fixed;

    //display:table-cell 以表格单元格的形式呈现，可看做td标签。
    //table-cell同样会被其他属性破坏，例如float, position:absolute，
    //所以，在使用display:table-cell与float:left或是position:absolute属性尽量不用同时使用。
    > .button {
      display: table-cell;
      float: none;
      width: 1%;
    }
  }

  &.vertical {
    > .button {
      display: block;
      width: 100%;

      &:first-child {
        @include full-border-radius($btn-group-border-radius, $btn-group-border-radius, 0, 0);
        border-bottom-width: 0;
      }

      &:last-child {
        border-left-width: $btn-border-width;
        @include full-border-radius(0, 0, $btn-group-border-radius, $btn-group-border-radius);
      }

      &:not(:first-child):not(:last-child) {
        border-left-width: $btn-border-width;
        border-bottom-width: 0;
        @include border-radius(0);
      }
    }
  }

  @include button-group-variant-size();

  @include button-group-disabled();
}