//calendar widget depends on dialog
.date-picker-header {
  background: $blue;
}

.date-picker-title {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;

  > .year-info {
    color: $white;
    font-size: 1.5rem;
  }

  > .detail-info {
    color: $white;
    font-size: 2rem;
  }
}

.date-picker-info {
  display: flex;
  flex: 1 1 100%;

  > .previous {
    @include make-flex-vertical-center {
      justify-content: flex-end;
      flex: 0 0 auto;
    }
  }

  > .content {
    @include make-flex-center {
      flex: 1 1 auto;
    }
  }

  > .next {
    @include make-flex-vertical-center {
      justify-content: flex-start;
      flex: 0 0 auto;
    }
  }
}

.date-picker-table {
  width: 100%;
  color: $text-comment-color;

  td {
    text-align: center;
    vertical-align: middle;
  }

  .button.day {
    color: $text-color;
  }
}

.date-picker-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: .25rem;

  > .left {
    display: flex;
  }

  > .right {
    display: flex;
  }
}

.date-picker {
  width: 20rem;
  background-color: $white;
}