.date-time-picker {
  @include make-inline-block;
  > .date-container {
    float: left;
    > .input {
      width: 10rem;
      border-right-width: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;

      &:active, &:focus {
        & ~ .icon {
          color: $text-color;
        }

        .date-time-picker > .time-container > {
          //border-color: $input-border-active-color;
          //width:20rem;
          border:4rem solid #1f64a5;
        }
      }
    }
  }

  > .time-container {
    float: left;
    margin-left: 0;
    > .input {
      width: 6rem;
      border-left-width: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &:active, &:focus {
        & ~ .icon {
          color: $text-color;
        }

        .date-time-picker > .date-container > .input {
          border-color: $input-border-active-color;
        }
      }
    }
  }

}