
%body-spacing {
  min-height: 1rem;
  padding: 1rem 1rem;
}

.dialog {
  position: fixed;
  z-index: $dialog-z-index;
  //visibility: hidden;
  //opacity: 0;
  display: none;
  left: 50%;
  width: 90%;
  flex-direction: column;

  border: $dialog-content-border;
  min-height: $dialog-content-min-height;
  background-color: $dialog-content-background-color;
  @include border-radius($dialog-border-radius);
  box-shadow: $default-box-shadow;

  @include limit-width("max-width", $dialog-content-width-sm, $dialog-content-width-md,
          $dialog-content-width-lg, $dialog-content-width-xg);

  > .header {
    //cursor: $dialog-header-cursor;
    padding: .75rem 1rem;
    font-size: $dialog-header-font-size;
    font-weight: $dialog-header-font-weight;

    &:active {
      cursor: $dialog-header-active-cursor;
    }

    > .title {
      @extend %inline-block-style;
      float: left;
    }

    > .icon {
      @extend %inline-block-style;
      float: right;
      font-size: map-get($font-size, 'large');
      color: $dialog-icon-color;
      cursor: pointer;

      &:hover, &:focus {
        color: $dialog-icon-color-hover;
      }
    }

    @extend .clear-fix;
  }

  > .body {
    @extend %body-spacing;
    //border: $dialog-body-border;
    border-left-width: 0;
    border-right-width: 0;
    flex: 1 1 auto;

    &.overflow {
      overflow-y: auto;
    }
  }

  > .footer {
    @include make-flex {
      justify-content: flex-end;
    }
    padding: .5rem 1rem;
    @include full-border-radius(0, 0, $dialog-inner-border-radius, $dialog-inner-border-radius);

    > .button {
      &:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }


  &.simple {
    border-width: 0;
    box-shadow: none;
    color: $white;
    background-color: transparent;

    > .header, > .body, > .footer {
      border-width: 0;
      border-radius: 0;
      color: inherit;
    }

    > .header {
      > .title {
        &:hover, &:focus {
          text-shadow: $text-shadow;
        }
      }

      > .icon {
        color: $white;

        &:hover, &:focus {
          color: $white;
          text-shadow: $text-shadow;
        }
      }
    }

    > .footer {
      background: transparent;
    }

  }

  &.primary {
    > .header {
      background-color: $dialog-header-primary-background-color;
      color: $white;
      @include full-border-radius($dialog-inner-border-radius, $dialog-inner-border-radius, 0, 0);

      > .title {
        &:hover, &:focus {
          text-shadow: $text-shadow;
        }
      }

      > .icon {
        color: $white;

        &:hover, &:focus {
          color: $white;
          text-shadow: $text-shadow;
        }
      }

    }

    > .body {
      border-top: $default-border;
      border-bottom: $default-border;
    }

    > .footer {
      background-color: $light-gray;
    }
  }
}


