%content-spacing {
  min-height: 1rem;
  padding: 1rem;
}

.dialog {
  @extend .mask;
  background: $dialog-background;
  z-index: $dialog-z-index;

  > .dialog-container {
    position: $dialog-container-position;
    width: $dialog-container-width;


    > .content {
      position: $dialog-content-position;
      margin: $dialog-content-margin;
      border: $dialog-content-border;
      width: $dialog-content-width;
      transform-origin: $dialog-content-transform-origin;
      min-height: $dialog-content-min-height;
      z-index: $dialog-content-z-index;
      background-color: $dialog-content-background-color;
      @include border-radius($dialog-border-radius);
      box-shadow: $default-box-shadow;

      @include adapter-width('min-width', map-get($bs-layout, 'sm')) {
        & {
          width: $dialog-content-width-sm;
        }
      }

      @include adapter-width('min-width', map-get($bs-layout, 'md')) {
        & {
          width: $dialog-content-width-md;
        }
      }

      @include adapter-width('min-width', map-get($bs-layout, 'lg')) {
        & {
          width: $dialog-content-width-lg;
        }
      }

      > .header {
        cursor: $dialog-header-cursor;
        @extend %content-spacing;
        font-size: $dialog-header-font-size;
        font-weight: $dialog-header-font-weight;

        &:active {
          cursor: $dialog-header-active-cursor;
        }

        > .title {
          @extend %inline-block-style;
          float: left;
        }

        > .icon {
          @extend %inline-block-style;
          float: right;
          font-size: map-get($font-size, 'large');
          color: $dialog-icon-color;
          cursor: pointer;

          &:hover {
            color: $dialog-icon-color-hover;
          }
        }

        @extend .clear-fix;
      }

      > .body {
        @extend %content-spacing;
        //border: $dialog-body-border;
        border-left-width: 0;
        border-right-width: 0;
      }

      > .footer {
        @include make-flex {
          justify-content: flex-end;
        }
        @extend %content-spacing;
        @include full-border-radius(0, 0, $dialog-inner-border-radius, $dialog-inner-border-radius);
      }
    }
  }

  &.normal {
    > .dialog-container {
      &-enter {
        transform: translateY(-100%);
        opacity: 0;
      }

      &-enter-active {
        opacity: 1;
        transform: translateY(5vw);
        transition: opacity .2s, transform .2s;
      }

      &-enter-done {
        transform: translateY(5vw);
      }

      &-exit {
        opacity: 1;
        transform: translateY(10vw);
      }

      &-exit-active {
        opacity: 1;
        transform: translateY(-20rem);
        transition: opacity .2s, transform .2s;
      }

    }
  }

  &.align-center {
    display: flex;
    align-items: center;

    > .dialog-container {
      &-enter {
        transform: scale(0);
        opacity: 0;
      }

      &-enter-active {
        transform: scale(1);
        opacity: 1;
        transition: opacity .2s, transform .2s;
      }

      &-enter-done {
        transform: scale(1);
      }

      &-exit {
        transform: scale(1);
        opacity: 1;
      }

      &-exit-active {
        transform: scale(0.3);
        opacity: 0;
        transition: opacity .2s, transform .2s;
      }
    }
  }

  &.simple {
    background-color: rgba(0, 0, 0, .5);

    > .dialog-container {
      > .content {
        border-width: 0;
        box-shadow: none;
        color: $white;
        background-color: transparent;

        > .header, > .body, > .footer {
          border-width: 0;
          border-radius: 0;
          color: inherit;
        }

        > .footer {
          background: transparent;
        }
      }
    }
  }

  &.primary > .dialog-container > .content {
    > .header {
      background-color: $dialog-header-primary-background-color;
      color: $white;
      @include full-border-radius($dialog-inner-border-radius, $dialog-inner-border-radius, 0, 0);
    }

    > .body {
      border-top: $default-border;
      border-bottom: $default-border;
    }

    > .footer {
      background-color: $light-gray;
    }
  }

}