%content-spacing {
  min-height: 1rem;
  padding: 0.5rem 1rem;
}

%body-spacing {
  min-height: 1rem;
  padding: 1rem 1rem;
}

$animation-timeout: .3s;

.dialog {
  @extend .mask;
  background: $dialog-background;
  z-index: $dialog-z-index;
  visibility: hidden;
  opacity: 0;

  > .dialog-container {
    position: $dialog-container-position;
    width: $dialog-container-width;


    > .content {
      position: $dialog-content-position;
      margin: $dialog-content-margin;
      border: $dialog-content-border;
      width: $dialog-content-width;
      transform-origin: $dialog-content-transform-origin;
      min-height: $dialog-content-min-height;
      z-index: $dialog-content-z-index;
      background-color: $dialog-content-background-color;
      @include border-radius($dialog-border-radius);
      box-shadow: $default-box-shadow;

      > .header {
        cursor: $dialog-header-cursor;
        @extend %content-spacing;
        font-size: $dialog-header-font-size;
        font-weight: $dialog-header-font-weight;

        &:active {
          cursor: $dialog-header-active-cursor;
        }

        > .title {
          @extend %inline-block-style;
          float: left;
        }

        > .icon {
          @extend %inline-block-style;
          float: right;
          font-size: map-get($font-size, 'large');
          color: $dialog-icon-color;
          cursor: pointer;

          &:hover, &:focus {
            color: $dialog-icon-color-hover;
          }
        }

        @extend .clear-fix;
      }

      > .body {
        @extend %body-spacing;
        //border: $dialog-body-border;
        border-left-width: 0;
        border-right-width: 0;
      }

      > .footer {
        @include make-flex {
          justify-content: flex-end;
        }
        @extend %content-spacing;
        @include full-border-radius(0, 0, $dialog-inner-border-radius, $dialog-inner-border-radius);
      }
    }
  }

  //non-centered
  &.align-top {
    > .dialog-container {
      &-enter {
        visibility: visible;
        opacity: 0;
        transform: translateY(-100%);
      }

      &-enter-active {
        opacity: 1;
        transform: translateY(8vw);
        transition: opacity $animation-timeout, transform $animation-timeout;
      }

      &-enter-done {
        opacity: 1;
        transform: translateY(8vw);
      }

      &-exit {
        visibility: visible;
        opacity: 1;
        transform: translateY(8vw);
      }

      &-exit-active {
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity $animation-timeout, transform $animation-timeout;
      }
    }
  }

  //centered
  &.align-center {
    display: flex;
    align-items: center;

    > .dialog-container {
      &-enter {
        visibility: visible;
        opacity: 0;
        transform: scale(0);
      }

      &-enter-active {
        opacity: 1;
        transform: scale(1);
        transition: opacity $animation-timeout, transform $animation-timeout;
      }

      &-enter-done {
        opacity: 1;
        transform: scale(1);
      }

      &-exit {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
      }

      &-exit-active {
        opacity: 0;
        transform: scale(0.5);
        transition: opacity $animation-timeout, transform $animation-timeout;
      }
    }
  }

  &.simple {
    background-color: rgba(0, 0, 0, .7);

    > .dialog-container {
      > .content {
        border-width: 0;
        box-shadow: none;
        color: $white;
        background-color: transparent;

        > .header, > .body, > .footer {
          border-width: 0;
          border-radius: 0;
          color: inherit;
        }

        > .header {
          > .title {
            &:hover, &:focus {
              text-shadow: $text-shadow;
            }
          }

          > .icon {
            color: $white;

            &:hover, &:focus {
              color: $white;
              text-shadow: $text-shadow;
            }
          }
        }

        > .footer {
          background: transparent;
        }
      }
    }
  }

  &.primary > .dialog-container > .content {
    > .header {
      background-color: $dialog-header-primary-background-color;
      color: $white;
      @include full-border-radius($dialog-inner-border-radius, $dialog-inner-border-radius, 0, 0);

      > .title {
        &:hover, &:focus {
          text-shadow: $text-shadow;
        }
      }

      > .icon {
        color: $white;

        &:hover, &:focus {
          color: $white;
          text-shadow: $text-shadow;
        }
      }


    }

    > .body {
      border-top: $default-border;
      border-bottom: $default-border;
    }

    > .footer {
      background-color: $light-gray;
    }
  }

}


@include adapter-width('min-width', map-get($bs-layout, 'sm')) {
  .width-sm {
    max-width: $dialog-content-width-sm;
  }
}

@include adapter-width('min-width', map-get($bs-layout, 'sm')) {
  .width-md {
    max-width: $dialog-content-width-md;
  }

  .width-lg {
    max-width: 850px;
  }

  .width-xl {
    max-width: 1100px;
  }
}


