@mixin drawer-animation($position) {

  &.drawer-enter {
    #{$position}: -100%;
    visibility: visible;
    opacity: 1;
  }
  &.drawer-enter-active {
    #{$position}: 0;
    transition: #{$position} $drawer-animation-duration;
  }

  &.drawer-enter-done {
    #{$position}: 0;
    visibility: visible;
    opacity: 1;
  }

  &.drawer-exit {
    #{$position}: 0;
    visibility: visible;
    opacity: 1;
  }

  &.drawer-exit-active {
    #{$position}: -100%;
    transition: #{$position} $drawer-animation-duration linear;
  }
}


.drawer {
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: map_get($z-index, 'top');
  height: 100%;
  box-shadow: $drawer-box-shadown;
  background-color: $white;
  width: $drawer-normal-length;

  &.normal {
    width: $drawer-normal-length;
  }

  &.left {
    top: 0;
    @include drawer-animation('left');

  }

  &.top {
    width: 100%;
    height: $drawer-normal-length;
    left: 0;
    @include drawer-animation('top');
  }

  &.right {
    top: 0;
    right: 0;
    width: $drawer-normal-length;
    height: 100%;

    @include drawer-animation('right');

  }

  &.bottom {
    left: 0;
    bottom: 0;
    height: $drawer-normal-length;
    width: 100%;

    @include drawer-animation('bottom');
  }

}