.dropdown-menu {
  > .menu {
    background-color: $white;

    .menu-item {
      @include active3 {
        color: $dp-menu-item-color;
        background-color: $dp-menu-item-background-color;
      }
    }
  }
}
