.dropdown {
  @include make-inline-block {
    position: relative;
  }

  > .title {
    cursor: pointer;
    color: $primary;
  }
}

.dropdown-menu {
  display: none;
  opacity: 0;
  position: absolute;
  transform-origin: center;
  z-index: map_get($z-index, mask);
  color: $text-color;

  > .menu {
    background-color: $white;
  }

  &-enter {
    display: inline-block;
    transform: scaleY(0);
  }

  &-enter-done {
    display: inline-block;
    opacity: 1;
    transform: scaleY(1);
    transition: opacity .2s ease-out, transform .2s ease-out;
  }

  &-exit {
    display: inline-block;
    opacity: 1;
  }

  &-exit-active {
    display: inline-block;
    transform: scaleY(0);
    opacity: 0;
    transition: opacity .2s ease-out, transform .2s ease-out;
  }

  &-exit-done {
    display: none;
  }

  .menu-item:not(.disabled)::selection {
    background: $primary;
  }
}
