.form {
  @include make-block;

  @include make-special-input('ok', $text-ok-color);
  @include make-special-input('warning', $text-warning-color);
  @include make-special-input('error', $text-error-color);

  .form-item {
    margin-bottom: $form-form-item-margin-bottom;

    label {
      @include make-block;
      margin-bottom: $form-form-item-label-margin-bottom;
    }

    .label-col {
      margin-top: $form-form-item-label-col-margin-top;
      margin-bottom: $form-form-item-label-col-margin-bottom;
    }

    .form-line {
      width: $form-form-item-form-line-width;
    }

    .info {
      @include make-block;
      line-height: $form-form-item-info-line-height;
      margin: $form-form-item-info-margin;
    }

    &.inline {
      > * {
        @include make-inline-block;
        margin-right: $form-form-item-inline-margin-right;
      }

      .form-line {
        width: auto;
      }

    }
  }

}