.form {
  .message-row {
    height: 1.8em;
  }

  &.inline {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .form-item {
    display: flex;
    //margin-bottom: .5rem;
    min-height: 2rem;

    .button.block + .block {
      margin-top: 0;
    }

    .item-label {
      display: flex;
      align-items: center;

      @extend .ellipsis;
    }

    .label-col {
      margin-bottom: 0;

      > .required-left-col {
        color: $red;
        font-size: inherit;
        margin-right: .25rem;
      }

      > .required-right-col {
        color: $red;
        font-size: inherit;
        margin-left: .25rem;
      }
    }

    .label-col {
      display: flex;
      margin-bottom: $form-form-item-label-col-margin-bottom;
    }

    .form-line {
      width: $form-form-item-form-line-width;
    }

    .info {
      @include make-block;
      line-height: $form-form-item-info-line-height;
      margin: $form-form-item-info-margin;
    }

    &.horizontal {
      flex: 1 1 100%;
      flex-direction: column;

      .label-col {
        margin-bottom: 0;
        padding-right: .5rem;
      }

      .widget-col {
        flex-direction: column;
      }
    }


    &.vertical {
      display: flex;
      flex-direction: column;
      flex: 1 1 100%;
    }

    &.inline {
      display: inline-flex;
      min-height: unset;
      align-items: center;

      &:not(:last-child) {
        margin-right: .5rem;
        margin-bottom: .5rem;
      }

      &:last-child {
        margin-bottom: .5rem;
      }

      > * {
        //@include make-inline-block;
        //margin-right: $form-form-item-inline-margin-right;
      }

      .form-line {
        width: auto;
      }

      > .button {
        vertical-align: top;
      }

      > .label-col {
        padding-right: .5rem;
        margin-bottom: 0;
      }
    }

  }

  .form-msg {
    margin: .25em 0 .25em;
    font-size: .9em;
    font-weight: map-get($font-weight, 'normal');
  }

  .form-control {
    &.radio-group,
    &.radio,
    &.checkbox {
      line-height: 2.25;
    }
  }
}