.form {
  @include make-block;

  .message-row{
    min-height: 1.8125rem;
  }

  &.inline {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .form-item {

    .button.block + .block {
      margin-top: 0;
    }

    .item-label {
      display: flex;
      align-items: center;
    }

    .label-col {
      margin-bottom: 0;

      > .required-left-col {
        color: $red;
        font-size: inherit;
        margin-right: .25rem;
      }

      > .required-right-col {
        color: $red;
        font-size: inherit;
        margin-left: .25rem;
      }
    }


    &.with-msg {
      //min-height: 4.25rem;
      //margin-bottom: .5rem;
    }

    &.non-compact {
      margin-bottom: 1.8125rem;
    }

    .label-col {
      display: flex;
      margin-bottom: $form-form-item-label-col-margin-bottom;
    }

    .form-line {
      width: $form-form-item-form-line-width;
    }

    .info {
      @include make-block;
      line-height: $form-form-item-info-line-height;
      margin: $form-form-item-info-margin;
    }

    &.horizontal {
      display: flex;
      flex-direction: column;
      width: 100%;

      .label-col {
        margin-bottom: 0;
        padding-right: .5rem;
      }
    }


    &.vertical {
      display: flex;
      flex-direction: column;
    }

    &.inline {
      display: inline-flex;
      min-height: unset;
      align-items: center;

      > * {
        @include make-inline-block;
        margin-right: $form-form-item-inline-margin-right;
      }

      .form-line {
        width: auto;
      }

      > .button {
        vertical-align: top;
      }

      > .label-col {
        margin-bottom: 0;
      }
    }
  }

  .form-msg {
    margin: .25rem 0 .25rem;
    font-size: .9em;
    font-weight: map-get($font-weight, 'normal');
  }

  .form-control {

  }
}