%input-active-base {
  border-color: $input-border-active-color;
  box-shadow: $input-box-shadow;
  z-index: map_get($z-index, "pop");
  position: relative;
}

.input {
  padding: $input-default-padding;
  border: $input-border;
  @include border-radius($input-border-radius);
  outline: $input-outline;
  height: $input-height; //to make the text/placeholder vertically align middle since the line-height is set
  line-height: $input-line-height;
  -webkit-appearance: none;
  transition: $default-transition;
  font-size: $input-font-size;
  outline: $input-outline;


  // it's better to set the width and height to 0px. Otherwise,
  // IE10 ignores the padding defined on the field -- padding-right --
  // which was intended to keep the text from typing over the 'X' icon
  // that I overlayed on the input field
  &::-ms-clear {
    width: 0;
    height: 0;
  }

  &.block {
    @include make-flex {
      width: $input-block-width;
    }
  }

  @include input-variant-size();

  @include add-disabled-conf;

  @include make-placeholder {
    color: $input-placeholder-color;
    opacity: $input-placeholder-opacity;
  }

  /**
  * Simple input
   */
  &.simple {
    @include border-radius(0);
    border-left: $input-simple-border-left;
    border-top: $input-simple-border-top;
    border-right: $input-simple-border-right;
    transition: $input-simple-transition;

    &:active, &:focus {
      border-bottom-width: $input-border-width;
      box-shadow: $input-simple-box-shadow;
    }
  }

  @include focus-active {
    @extend %input-active-base;
  }

/*  &:not(:disabled):not(.disabled):active {
    //transform: $input-active-scale;

    + .icon {
      //transform: $icon-input-icon-scale;

    }
  }*/

}


textarea.input {
  max-width: 100%;
}

/**
* Icon input
 */
.icon-input {
  @include make-inline-flex-center;
  position: relative;

  &.block, & > .input {
    @extend .input.block;
  }

  &.large {
    > .input {
      font-size: map-get($font-size, 'large');
      padding: $icon-input-large-padding;
      height: $input-large-height;
    }

    > .icon {
      font-size: map-get($font-size, 'large');
      line-height: $icon-input-large-icon-line-height;
      width: $icon-input-large-icon-width;
    }
  }

  &.medium {
  }

  &.small {
    > .input {
      font-size: map-get($font-size, 'small');
      padding: $icon-input-small-padding;
      height: $input-small-height;
    }

    > .icon {
      font-size: map-get($font-size, 'small');
      line-height: $icon-input-small-icon-line-height;
      width: $icon-input-small-icon-width;
      right: $icon-input-icon-small-position;
    }
  }

  &.left-icon {
    & > .input {
      padding-right: $icon-input-left-icon-input-padding-right;
      padding-left: $icon-input-left-icon-input-padding-left;
    }

    & > .icon {
      right: 0;
      left: $icon-input-icon-left;
    }

    &.large {
      > .input {
        padding: $icon-input-left-icon-input-large-input-padding;
      }
    }

    &.small {
      > .input {
        padding: $icon-input-left-icon-input-small-input-padding
      }

      > .icon {
        left: $icon-input-icon-small-position;
      }
    }
  }

  & > .input {
    padding-right: $icon-input-right-icon-input-padding-right;
  }

  & > .icon {
    position: $icon-input-icon-position;
    color: $icon-input-icon-text-color;
    line-height: $icon-input-icon-line-height;
    cursor: $icon-input-icon-cursor;
    width: $icon-input-left-icon-width;
    right: $icon-input-icon-right;
    z-index: $icon-input-icon-z-index;
    top: 50%; //it works for non-IE browsers
    transform: translateY(-50%); //it works for IE


    &:hover, &:focus {
      color: $input-border-active-color;
    }
  }

  @include add-disabled-conf;

  @include focus-active {
    > .input {
      @extend %input-active-base;
    }
  }
}

@include make-special-input('ok', $text-ok-color);
@include make-special-input('warning', $text-warning-color);
@include make-special-input('error', $text-error-color);