.input-group {
  @include make-inline-flex();

  & > .label, & > .element {
    @include make-flex-center();
    line-height: $input-group-label-line-height;
    @include input-group-child();
  }

  & > .label {
    padding: $input-group-label-padding;
    border: $input-border;
    background-color: $input-label-background-color;
  }

  & > .element {
    &.inset {
      padding: $input-group-element-inset-padding;
      background-color: $input-group-element-background-color;

      &:not(:first-child):not(:last-child) {
        &.inset {
          &.button-dropdown, &.dropdown {
            > .button {
              @include border-radius(0);
            }
          }
        }
      }
    }
  }

  & > .element + .label:not(:first-child) {
    border-left: 0;
  }

  &.block {
    @include make-flex {
      width: 100%;
    }

    & > .expanded {
      @include flex-grow(1);
    }
  }
}
