.submenu {
  @include border-radius($menu-border-radius);
  @include make-flex;
  list-style: $menu-list-style;
  flex-direction: $menu-flex-direction;
  align-items: $menu-align-items;
  position: $menu-position;

  &.with-box {
    box-shadow: $default-box-shadow;
  }

  &.close {
    > .menu-header:after {
      transform: $menu-close-menu-header-icon-transform;
      transform-origin: $menu-close-menu-header-icon-transform-origin;
    }

    > .menu-list {
      display: $menu-menu-list-display;
      //transition: display 2s linear, height 2s linear;
      //animation: close-menu .5s ease-in-out;
      //animation-fill-mode: forwards; //keep the last state
    }
  }

  > .menu-list {
    transition: $menu-menu-list-transition;
    background: $menu-menu-list-background;

    > .menu-item {
      @include make-menu-item;

      > .icon {
        @include child-margin($menu-icon-margin-right);
      }
    }
  }

  .menu-header {
    padding: $menu-header-padding;
    font-weight: map_get($font-weight, 'normal');
    position: $menu-header-position;

    > .icon {
      @include child-margin($menu-icon-margin-right);
    }
  }

  //add a arrow icon for non-float menu
  &:not(.float) {
    .menu-header {
      @include make-arrow($default-arrow-border, $default-arrow-active-border, null, 'after', map_get($arrow-direction, 'down')) {
        position: $menu-header-arrow-position;
        right: $menu-header-arrow-right;
        top: $menu-header-arrow-top;
      }
    }
  }

  &.block {
    display: $menu-block-display;
  }

}

.menu {
  @extend .submenu;
  @include make-inline-flex;

  &.with-border {
    border: $menu-border;
  }

  /**
  当menu中的嵌套不确定时,如何设置border-radius将会会相当地复杂，
  通常的做法就是menu上下留白，不在子item中设置border-radius,如此可以极大地简化实现难度
   */
  padding: $menu-padding;


  &.simple {

    > .divider {
      display: none;
    }
  }


  &.float {
    flex-direction: $menu-float-flex-direction;
    padding: $menu-float-padding;

    // set border-radius for the first & last child
    //only two types supported
    //1.  menu > menu-list > menu-item , .....
    //2. menu > submenu > menu-header
    //                  > menu-list > menu-item ......


    > .submenu {

      .menu-header {
        flex: $menu-float-submenu-menu-header-flex;
        align-items: $menu-float-submenu-menu-header-align-items;
        flex-direction: $menu-float-submenu-menu-header-flex-direction;
        transition: $menu-float-submenu-menu-header-transition;

        //remove arrow
        &:after {
          content: $menu-float-submenu-menu-header-after-content;
          border: $menu-float-submenu-menu-header-after-border;
        }
      }

      > .menu-list {
        display: $menu-float-submenu-menu-list-display;
        flex-direction: $menu-float-submenu-menu-list-flex-direction;
        position: $menu-float-submenu-menu-position;
        z-index: $menu-float-submenu-menu-z-index;
        left: $menu-float-submenu-menu-left;
        top: $menu-float-submenu-menu-top;
        background-color: $menu-float-submenu-menu-background-color;
        box-shadow: $menu-float-submenu-menu-box-shadow;
      }

      &.active {

        //create the bottom border
        > .menu-header {
          &:after {
            @include make-block(absolute) {
              left: $menu-float-submenu-active-menu-header-after-left;
              top: $menu-float-submenu-active-menu-header-after-top;
              content: $menu-float-submenu-active-menu-header-after-content;
              height: $menu-float-submenu-active-menu-header-after-height;
              width: $menu-float-submenu-active-menu-header-after-width;
              background-color: $menu-float-submenu-active-menu-header-after-background-color;
              transition: $menu-float-submenu-active-menu-header-after-transition;
              animation: $menu-float-submenu-active-menu-header-after-animation;
            }
          }
        }

        > .menu-list {
          display: $menu-float-submenu-active-menu-list-display;
          animation: $menu-float-submenu-active-menu-list-animation;
        }
      }
    }

    > .menu-list {
      @include make-flex ;
      border-radius: calc(0.25rem - 1px);

      > .menu-item {
        flex: 0 0 auto;
        min-width: unset;
        align-self: center;
        align-items: stretch;

        &:first-child {
          border-top-left-radius: calc(0.25rem - 1px);
          border-bottom-left-radius: calc(0.25rem - 1px);
        }

        &:last-child {
          border-top-right-radius: calc(0.25rem - 1px);
          border-bottom-right-radius: calc(0.25rem - 1px);
        }

        &.right {
          margin-left: auto !important;
          flex-grow: 1;
          text-align: right;
          justify-content: flex-end;
        }

        &.left {
          margin-right: auto !important;
          flex-grow: 1;
        }
      }
    }

    > .divider {
      display: none;

      & + .menu-list > .menu-item {
        border-left: 1px solid #ccc;
      }
    }
  }

  &.primary {
    .menu-list > .menu-item {

      @include focus{
        color: lighten($blue, 10%);
        background-color: inherit;
      }

      &.active {
        background-color: lighten($blue, 40%);
        border-right: 3px solid $blue;
        margin-right: -1px;
      }
    }
  }

  &.dark, &.dark .submenu {
    background-color: #000c17;
    color: darken($white, 30%);
    border: none;

    > .menu-list {
      background-color: inherit;
    }


    .menu-header {
      background-color: #00192D;
      color: darken($white, 10%);
      transition: all .2s;

      &:focus, &:hover {
        color: $white;
        text-shadow: $menu-item-hover-text-shadow;

        &:after {
          border-top-color: $white;
        }
      }


    }

    > .menu-list > .menu-item {
      &.disabled {
        color: darken($white, 40%);
      }

      &:not(.disabled):focus, &:not(.disabled):hover {
        color: $white;
        text-shadow: $menu-item-hover-text-shadow;
      }

      &.active {
        background-color: $blue;
        color: $white;
        text-shadow: $menu-item-hover-text-shadow;
      }
    }
  }
}