//todo: navar 不能设置height,会导致flex-direction：column时无法撑开高度

@mixin update-dropdown {
  border: none;

  > .title, > .info {
    color: $white;

    .button {
      color: $white;
      border: none;
    }
  }
  > .menu {
    color: $black;

    > .menu-list {
      > .menu-item {
        //text-shadow: none;
      }
    }
  }
}

.navbar {
  @include make-navbar;
  flex-wrap: wrap;
  line-height: $navbar-item-height;

  > .title {
    @include make-flex {
      align-items: center;
      //line-height: $navbar-item-height;
      color: $navbar-title-color;
      padding: $navbar-title-padding;
      font-weight: map_get($font-weight, 'normal');
    }

    .dropdown, .button-dropdown {
      @include update-dropdown;
    }

    > .title-text {
      //&:first-child {
      margin-left: .5rem;
      //}
    }
  }

  .navbar-switch {
    border-width: 0;
    background: transparent;
    font-size: 1.5rem;
    padding: 0.5rem;

    &:focus, &:hover {
      box-shadow: $navbar-switch-box-shadow;
    }
  }

  > .list {
    @include make-flex {
      align-items: center;
      flex: 1 1 auto;
      padding: 0 1rem 0 1rem;
    }

    &.align-right {
      justify-content: flex-end;
    }

    &.align-left {
      justify-content: flex-start;
    }

    &.align-center {
      justify-content: center;
    }

    > .item {
      @include make-flex {
        justify-content: center;
        position: $navbar-item-position;
        @include make-navbar-item($navbar-inactive-text-color);
        transition: all 0.2s;
        height: 100%;
      }

      .dropdown, .button-dropdown {
        @include update-dropdown;
      }

      &.with-bar {
        &.active, &:focus, &:hover {
          //create the bottom border
          &:after {
            @include make-block(absolute) {
              left: 0;
              bottom: 0;
              content: '';
              height: $navbar-simple-item-link-border-height;
              width: $navbar-simple-item-link-border-width;
              background-color: $navbar-simple-item-link-background-colorh;
              transition: all 0.5s;
              animation: change-width-smoothly 0.3s;
            }
          }
        }
      }

      //occupy the whole column
      &.block {
        height: 100%;
      }

      &.with-bg {
        &.active {
          background-color: darken($navbar-background-color, 10%);
        }

        &:focus, &:hover {
          background-color: darken($navbar-background-color, 5%);
        }
      }

      &.active, &:focus, &:hover {
        color: $navbar-item-active-color;
        //text-shadow: $navbar-item-active-box-shadown;
      }

    }
  }

  &.expand {
    > .list {
      display: flex;
      transition: all 0.2s ease-in-out;
    }
  }

  &.fixed {
    @include fixed(map_get($z-index, 'mask'), false, null);
    border-radius: 0;

    &.top {
      top: 0;
    }

    &.bottom {
      bottom: 0;
    }
  }

  &.primary {
    background-color: $navbar-background-color-primary;

    > .title {
      color: $navbar-primary-active-color;
    }

    .navbar-switch {
      color: $navbar-primary-active-color;
      border-color: $navbar-primary-active-color;

      &:focus, &:hover {
        box-shadow: $navbar-primary-switch-box-shadow;
      }
    }

    > .list > .item {
      color: $navbar-primary-item-color;

      &.active, &:hover {
        color: $navbar-primary-active-color;
      }

      &.with-bg {
        &.active {
          background-color: lighten($navbar-background-color-primary, 8%);
        }

        &:focus, &:hover {
          background-color: lighten($navbar-background-color-primary, 5%);
        }
      }
    }
  }

}

@include media-query((key:'min-width', value: map-get($bs-layout, 'md'))) {
  .navbar {
    .navbar-switch {
      display: none;
    }

    flex-direction: row;

    > .list {
      display: flex;
      flex-direction: row;
    }
  }
}

//change the list in column style
@include media-query((key:'max-width', value: map-get($bs-layout, 'md'))) {
  &.navbar {
    flex-direction: column;

    .navbar-switch {
      display: inline-flex;
    }

    > .list {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;

      > .item {
        align-items: flex-start;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        //line-height: $navbar-item-height - 1rem;
      }
    }
  }
}