%popover-arrow-common {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border: $popover-arrow-border-width solid transparent;
  z-index: 101;
}

%top-arrow{
  @extend %popover-arrow-common;
  left: 50%;
  top: 100%;
  margin-left: $popover-margin;
  border-bottom-width: 0;
  border-top-color: $popover-arrow-border-color;

  &::after {
    content: '';
    left: 50%;
    top: $popover-margin;
    margin-left: $popover-margin;
    @extend %popover-arrow-common;
    margin-top: -1px;
    border-bottom-width: 0;
    border-top-color: $popover-arrow-overlap-background-color;
  }
}

%bottom-arrow{
  @extend %popover-arrow-common;
  left: 50%;
  top: $popover-margin;
  margin-left: $popover-margin;
  border-top-width: 0;
  border-bottom-color: $popover-arrow-border-color;

  &::after {
    content: '';
    @extend %popover-arrow-common;
    top: 1px;
    left: $popover-margin;
    border-top-width: 0;
    border-bottom-color: $popover-arrow-overlap-background-color;
  }
}

.popover {
  position: relative;
  background-color: $white;
  border-radius: $default-border-radius;

  > .card {
    position: relative;

    >.card-body{
      min-height: 1rem;
    }
  }

  >.popover-arrow {
    &.top {
      @extend %top-arrow;
    }

    &.top-left {
      @extend %top-arrow;

      left: 2rem;
    }

    &.top-right {
      @extend %top-arrow;

      left: calc(100% - 2rem);
    }

    &.bottom {
      @extend %bottom-arrow;
    }

    &.bottom-left {
      @extend %bottom-arrow;
      left: 2rem;
    }

    &.bottom-right {
      @extend %bottom-arrow;
      left: calc(100% - 2rem);
    }

    &.left {
      @extend %popover-arrow-common;
      left: 100%;
      top: 50%;
      margin-top: $popover-margin;
      border-right-width: 0;
      border-left-color: $popover-arrow-border-color;

      &::after {
        content: '';
        top: $popover-margin;
        left: $popover-margin;
        @extend %popover-arrow-common;
        margin-left: -1px;
        border-right-width: 0;
        border-left-color: $popover-arrow-overlap-background-color;
      }
    }


    &.right {
      @extend %popover-arrow-common;
      left: $popover-margin;
      top: 50%;
      margin-top: $popover-margin;
      border-left-width: 0;
      border-right-color: $popover-arrow-border-color;

      &::after {
        content: '';
        @extend %popover-arrow-common;
        left: 1px;
        top: 50%;
        margin-top: $popover-margin;
        border-left-width: 0;
        border-right-color: $popover-arrow-overlap-background-color;
      }
    }

  }
}