%popover-arrow-common {
  position: absolute;
  display: inline-block;
  width: .5rem;
  height: .5rem;
  border-width: .25rem;
}

%top-arrow {
  @extend %popover-arrow-common;
  left: 50%;
  top: 100%;
  transform: rotate(45deg);
  margin-left: $popover-margin;

  border-bottom-color: $white;
  border-left-color: $white;
  border-right-color: transparent;
  border-top-color: transparent;

}

%bottom-arrow {
  @extend %popover-arrow-common;
  left: 50%;
  top: $popover-margin;
  margin-left: $popover-margin;

  border-top-color: $white;
  border-left-color: $white;
  border-right-color: transparent;
  border-bottom-color: transparent;

}

.popover {
  position: relative;
  border-radius: $default-border-radius;

  > .card {
    position: relative;

    > .card-body {
      min-height: 1rem;
    }
  }

  > .popover-arrow {
    position: absolute;
    display: inline-block;
    width: .5rem;
    height: .5rem;
    border-style: solid;
    border-width: .25rem;
    transform: rotate(45deg);
    z-index: map_get($z-index, 'one');

    &.top {
      @extend %top-arrow;
    }

    &.top-left {
      @extend %top-arrow;

      left: 2rem;
    }

    &.top-right {
      @extend %top-arrow;

      left: calc(100% - 2rem);
    }

    &.bottom {
      left: 50%;
      top: $popover-margin;

      &.with-box {
        border-top-color: $white;
        border-left-color: $white;
        border-right-color: transparent;
        border-bottom-color: transparent;
        box-shadow: 0px -2px 1px 1px rgba(0, 0, 0, .01), -2px 0px 1px 0px rgba(0, 0, 0, .01);
      }

    }

    &.bottom-left {
      @extend %bottom-arrow;
      left: 2rem;
    }

    &.bottom-right {
      @extend %bottom-arrow;
      left: calc(100% - 2rem);
    }

    &.left {
      @extend %popover-arrow-common;
      left: 100%;
      top: 50%;
    }


    &.right {
      @extend %popover-arrow-common;
      left: $popover-margin;
      top: 50%;

    }

  }
}