.popup {
  //display: $dp-menu-display;\
  visibility: hidden;
  opacity: $dp-menu-opacity;
  position: $dp-menu-position;
  transform-origin: $dp-menu-transform-origin;
  z-index: $dp-menu-z-index;
  color: $dp-menu-color;
}