
.select-menu {

  .menu {
    .menu-item {
      padding: 0.5rem 1rem !important;
    }
  }

  .no-data {
    background: white;
    flex-direction: column;
    padding: 1rem;
    @include border-radius;
    @include make-flex-center;

    > .no-data-icon {
      font-size: 2em;
      color: $gray;
    }

    > .no-data-label {
      font-size: 1em;
      color: $gray;
    }
  }

  .item-row {
    > .left, > .right {
      flex: 0 1 1em;
      @include make-flex-center;
    }

    > .center {
      flex: 1 0 auto;
      padding: 0 0.25rem;
    }
  }
}

.select-multiple {
  @include make-inline-flex {
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    cursor: pointer;
    width: 15.6525rem;
    border: $default-border;
    position: relative;
    border-radius: $default-border-radius;
  }
  @include focus-active {
    @extend %input-active-base;
  }

  > .select-multiple-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > .badge {
      margin: 0.25rem;

      > .content {
        border: $default-border;

        > .remove-icon {
          margin-left: 0.25rem;

          @include focus2 {
            color: $red;
          }
        }
      }

      + .input {
        margin-right: 0.25rem;
      }
    }

    > .input {
      padding-left: 0;
      padding-right: 0;
      width: 1em;
      min-width: 0.5rem;
      max-width: 100%;
      font-size: .8rem;
      border: none;
      box-shadow: none !important;
      outline: 0;
    }

    > .search-text-detector {
      position: absolute;
      opacity: 0;
      left: 0;
      top: 0;
    }
  }

}