%tab-ctrl {
  @include make-inline-flex-center;
  color: $gray;
  height: 2rem;
  width: 2rem;
  position: absolute;
  cursor: pointer;
}

@mixin secondary-card-item($l-tab-item-radius) {
  border: $default-border;
  border-radius: $l-tab-item-radius;
  background: $light-gray;
}

.tab {
  @include make-flex;
  position: relative;

  .card-wrapper {
    display: flex;
  }

  &.horizontal {
    flex-direction: row;

    &.with-border {
      &.top {
        border-bottom: $default-border;

        &.secondary-card {
          .tab-item {
            @include secondary-card-item($default-border-radius $default-border-radius 0 0);

            &.active {
              background: $white;
              border-bottom: 1px solid $white;
            }
          }

          .tab-container {
            margin-bottom: -1px;
          }
        }
      }

      &.bottom {
        border-top: $default-border;

        &.secondary-card {
          .tab-item {
            @include secondary-card-item(0 0 $default-border-radius $default-border-radius);

            &.active {
              background: $white;
              border-top: 1px solid $white;
            }
          }

          .tab-container {
            margin-top: -1px;
          }
        }
      }
    }

    .tab-item {
      margin-right: 2px;
    }
  }

  &.vertical {
    flex-direction: column;
    display: inline-flex;

    &.with-border {

      &.right {
        border-left: $default-border;

        &.secondary-card {
          .tab-item {
            @include secondary-card-item(0 $default-border-radius $default-border-radius 0);

            &.active {
              background: $white;
              border-left: 1px solid $white;
            }
          }

          .tab-container {
            margin-left: -1px;
          }

        }
      }

      &.left {
        border-right: $default-border;

        &.secondary-card {
          .tab-item {
            @include secondary-card-item($default-border-radius 0 0 $default-border-radius);

            &.active {
              background: $white;
              border-right: 1px solid $white;
            }
          }

          .tab-container {
            margin-right: -1px;
          }
        }
      }
    }

    .tab-item {
      margin-bottom: 3px;
    }
  }


  &.tab-bar {
    .tab-item {
      z-index: 2;
    }
  }

  > .tab-pre {
    @extend %tab-ctrl;

    &.horizontal {
      left: 0;
      top: 0;
    }

    &.vertical {
      left: 0;
      top: 0;
      height: 2rem;
      width: 100%;
    }
  }

  > .tab-next {
    @extend %tab-ctrl;

    &.horizontal {
      right: 0;
      top: 0;
    }

    &.vertical {
      bottom: 0;
      left: 0;
      height: 2rem;
      width: 100%;
    }

  }

  > .tab-container {
    overflow: hidden;
    white-space: nowrap;

    > .tab-scroll {
      @include make-flex;
      position: relative;
      overflow: hidden;
      white-space: nowrap;

      &.vertical {
        flex-direction: column;
      }
    }
  }


  &.scrollable {
    &.vertical {
      > .tab-container {
        margin: 2rem 0;
      }
    }

    &.horizontal {
      > .tab-container {
        margin: 0 2rem;
      }
    }
  }

  .tab-item {
    @include make-menu-item(true);
    min-width: 2rem;
    flex-shrink: 0;

    > .item-label {
      display: inline-flex;
      flex: 1 0 auto;
    }

    > .item-icon {
      display: inline-flex;
      padding-left: 0.75rem;
      flex: 0 0 1em;
    }
  }

  > .tab-bar {
    border-radius: $default-border-radius;
    position: absolute;

    &.horizontal {
      &.top {
        top: -1px;
        border-top: 2px solid $primary;

        &.tab-card {
          background: $white;
          top: unset;
          bottom: -1px;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-top: none;

          &.with-border {
            border-top: 2px solid $primary;
            border-left: $default-border;
            border-right: $default-border;
          }

          &.one-border {
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-top: 2px solid $primary;
          }
        }
      }

      &.bottom {
        bottom: -1px;
        border-bottom: 2px solid $primary;

        &.tab-card {
          border-bottom: none;
          background: $white;
          top: -1px;
          border-top-left-radius: 0;
          border-top-right-radius: 0;

          &.with-border {
            border-bottom: 2px solid $primary;
            border-left: $default-border;
            border-right: $default-border;
          }

          &.one-border {
            border-left: none;
            border-right: none;
            border-radius: 0;
            border-bottom: 2px solid $primary;
          }
        }
      }
    }


    &.vertical {
      width: 2px;
      height: 4rem;

      &.right {
        left: calc(100% - 1px);
        border-left: 2px solid $primary;

        &.tab-card {
          background: $white;
          right: unset;
          border-left: none;
          left: -1px;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;

          &.with-border {
            border-top: $default-border;
            border-bottom: $default-border;
            border-right: 2px solid $primary;
          }

          &.one-border {
            border-right: 2px solid $primary;
            border-top: none;
            border-bottom: none;
            border-radius: 0;
          }
        }
      }

      &.left {
        left: -1px;
        border-left: 2px solid $primary;

        &.tab-card {
          background: $white;
          right: -1px;
          left: unset;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;

          &.with-border {
            border-top: $default-border;
            border-bottom: $default-border;
          }

          &.one-border {
            border-top: none;
            border-bottom: none;
            border-radius: 0;
          }
        }
      }

    }
  }
}