
.toggle-button {
  background: transparent;
  outline: none;
  border: none;
  vertical-align: middle;
  cursor: pointer;

  @include add-disabled-conf;
}

.toggle {
  position: relative;
  @include make-flex();
  width: 100%;
  font-size: 0.75rem;
  color: $white;
  font-weight: map_get($font-weight, 'bold');
  transition: all .4s;
  vertical-align: middle;
  min-width: 3.5rem;

  .bar {
    display: inline-flex;
    align-items: center;
    margin: 0.25rem 0;
    padding: 0 0.5rem 0 1.8rem;
    height: 1rem;
    width: 100%;

    @include border-radius(1.5rem);
  }

  .ball {
    position: absolute;
    top: 0;
    right: 0;
    @include make-inline-flex-center;
    height: 1.5rem;
    width: 1.5rem;
    @include border-radius(50%);
    box-shadow: $default-box-shadow;
    text-align: center;
  }

  &.on {
    .bar {
      background-color: #70a3e1
    }

    .ball {
      background-color: $blue;
      box-shadow: 0 3px 10px rgba(12, 160, 255, 0.3);
      color: $text-color;
    }
  }

  &.off {
    .bar {
      background-color: rgba(0, 0, 0, .5);
    }

    .ball {
      border: 1px solid rgba(0, 0, 0, .5);
      box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
      background-color: $white;
      color: rgba(0, 0, 0, .5);
    }
  }

  &.secondary, &.primary {
    @include border-radius;
    padding: 0.25rem;
    @include make-inline-flex;
    align-items: center;
    font-size: 0.75rem;
    line-height: 1.5rem;
    overflow: hidden;

    &.on {
      background-color: $blue;
      box-shadow: 0 1px 2px 1px #007affba;
      justify-content: flex-start;
    }

    &.off {
      background-color: rgba(0, 0, 0, .45);
      box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.4);
      justify-content: flex-end;
    }


    > .info {
      line-height: 1.5rem;
      margin: 0 0.5rem;
      display: flex;
      align-items: center;
    }

    .ball {
      position: absolute;
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      top: 0.25rem;
      border: none;
      background-color: $white;
      @include border-radius;
      box-shadow: none;
    }
  }

  &.primary {
    border-radius: 1.5rem;

    > .ball {
      border-radius: 50%;
    }
  }

}

.toggle-label {
  margin-left: 0.5rem;
  font-weight: map_get($font-weight, 'normal');
  transition: color .3s;

  &.on {
    color: $primary;
  }
}