@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color !important;
  }

  .bg-ok {
    background-color: $green !important;
  }

  .bg-warning {
    color: $yellow !important;
  }

  .bg-error {
    color: $red !important;
  }

}

