html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: Microsoft YaHei, tahoma, arial, sans-serif;
  line-height: 1.5rem;
  color: $text-color;
  background-color: $body-background-color;

  text-rendering: optimizeLegibility;

  //for  anti-aliasing
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 100;
  overflow: hidden;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.pull-center {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

a {
  color: $link-color;
  text-decoration: $link-text-decoration;
  cursor: $link-cursor;

  &:active, &.active, &:hover, &:focus {
    color: $link-active-color;
  }
}

.clear-radius {
  border-radius: 0 !important;
}

.clear-fix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.clear-border {
  border-width: 0 !important;
}

.clear-min-width {
  min-width: 0 !important;
}

//////////////////////////////////////////////////////////////////////////////////