html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: Microsoft YaHei, tahoma, arial, sans-serif;
  line-height: 1.5rem;
  color: $text-color;
  background-color: $body-background-color;

  text-rendering: optimizeLegibility;

  //for  anti-aliasing
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: $link-text-decoration;
  cursor: $link-cursor;
}
