//Text classes
.text {
  &.bold {
    font-weight: map-get($font-weight, 'normal');
  }

  &.align-left {
    text-align: left !important;
  }
  &.align-center {
    text-align: center !important;;
  }
  &.align-right {
    text-align: right !important;;
  }

  @each $name, $color in $colors {
    &.#{$name} {
      color: $color !important;
      &.hover {
        color: inherit !important;
        &:hover, &:focus {
          color: $color !important;
        }
        &.active {
          color: darken($color, 5%) !important;
        }
      }
    }

  }
}