@mixin generate-simple-button($className,$btn-bg-color, $btn-color:$text-color, $btn-bdr-color: darken($btn-bg-color, 10%)) {
  @if $className == null {
    @include add-simple-button-content($btn-bg-color, $btn-color, $btn-bdr-color);
  } @else {
    &.#{$className} {
      @include add-simple-button-content($btn-bg-color, $btn-color, $btn-bdr-color);
    }
  }
}

@mixin add-simple-button-content($btn-bg-color, $btn-color, $btn-bdr-color) {
  @include generate-local($btn-bg-color, $btn-color, $btn-bdr-color);
  @include generate-active(
          $btn-bg-color,
          $btn-color,
          $btn-bdr-color);
}

@mixin generate-outline-button($className,$btn-bg-color,$btn-color) {
  &.#{$className} {
    @include generate-local($btn-bg-color, $btn-color, $btn-color);
    @include generate-active(
            $btn-color,
            $white,
            $btn-color);
  }
}

@mixin generate-local($bg-color,$color,$bdr-color) {
  background-color: $bg-color;
  color: $color;
  border: 1px solid $bdr-color;
}

@mixin generate-active($active-bg-color,$active-color,$active-bdr-color) {
  &:focus:not(.disabled), &:hover:not(.disabled) {
    background-color: darken($active-bg-color, $default-bg-color-increase-ratio);
    color: $active-color;
    border-color: darken($active-bdr-color, $default-color-increase-ratio);
    box-shadow: 0 0 0 0.2rem lighten($active-bdr-color, 20%);
  }

  &:active, &.active {
    background-color: darken($active-bg-color, $default-bg-color-increase-ratio);
    color: $active-color;
    border-color: darken($active-bdr-color, $default-color-increase-ratio);
    box-shadow: 0 0 0 0.2rem lighten($active-bdr-color, 20%);
    //box-shadow: 0 0 0 0.2rem $active-bdr-color;
  }

}

/**
* set the group's border radius property
 */
@mixin group-border-radius($dr-radius:0) {
  &:first-child {
    @include full-border-radius($dr-radius, 0, $dr-radius, 0);
  }

  &:last-child {
    @include full-border-radius(0, $dr-radius, 0, $dr-radius);
    border-left-width: 0;
  }

  &:not(:first-child):not(:last-child) {
    border-left-width: 0;
    @include border-radius(0);
  }
}