// Generate grid columns with media query definition
@mixin generate-media-grid-columns($colCount,$type,$condition) {
  @include media-query($condition) {
    @include generate-grid-columns($colCount, $type, false);
  }
}

// Generate the corresponding columns via specific arguments
@mixin generate-grid-columns($colCount,$type, $extend-column-setting: true) {
  @for $i from 1 through $colCount {
    & > .col#{$type}#{$i} {
      width: percentage($i / ($colCount));
    }
  }

  @for $i from 1 to $colCount {
    & > .offset#{$type}#{$i} {
      margin-left: percentage($i / ($colCount));
    }
  }
}

@mixin justify(){
  &.justify-start {
    justify-content: flex-start;
  }


  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-around {
    justify-content: space-around;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-evenly {
    justify-content: space-evenly;
  }

  &.align-start {
    align-items: flex-start;
  }

  &.align-end {
    align-items: flex-end;
  }

  &.align-center {
    align-items: center;
  }
}