//normal menu
@mixin make-menu-item() {
  @include make-block {
    line-height: $menu-item-line-height;
    padding: $menu-item-padding;
    overflow: $menu-item-overflow;
    text-overflow: $menu-item-text-overflow;
    white-space: $menu-item-white-space;
    cursor: $menu-item-cursor;
    border: $menu-item-border;
    min-width: $dp-min-width;
    transition: $menu-item-transition;
  }

  @include focus-active2 {
    color: $menu-item-hove-text-color;

    &.with-box {
      box-shadow: $default-box-shadow;
      font-weight: $menu-item-font-weight;
    }

    &.with-bg {
      background-color: $menu-item-background-color;
    }

  }

  @include active2 {
    &.with-bottom-bar {
      @include bottom-bar;
    }
  }

  @include add-disabled-conf(false) {
    color: $text-color;
    background-color: transparent;
  }
}

