@mixin make-navbar($bd-radius:$default-border-radius) {
  @include make-flex {
    width: 100%;
    justify-content: flex-start;
    @include border-radius($bd-radius);
    background-color: $navbar-background-color;
    margin-bottom: $navbar-margin-bottom;
    @content
  }
}

@mixin make-navbar-item($item-text-color:$text-color) {
  @include make-flex {
    line-height: $navbar-item-height;
    cursor: pointer;
    align-items: center;
    color: $item-text-color;
    align-items: center;
    font-weight: map_get($font-weight, 'normal');
    padding: $navbar-item-padding;
    min-width: $navbar-item-min-width;
  }
}