//normal menu
@mixin make-menu($bd-style) {
  outline: none;
  border: $bd-style;
  list-style: none;
  @content;
}

@mixin make-menu-item() {
  @include make-flex {
    padding: $menu-item-padding;
    margin: 0;
    text-align: left;
    cursor: pointer;
    border-width: 0;
    align-items: center;
    min-width: 10rem;
    white-space: nowrap;
  }

  &:focus, &:hover:not(.special):not(.disabled) {
    color: $menu-item-hove-text-color;
    transition: all 0.2s;

    &.with-box {
      box-shadow: $default-box-shadow;
      font-size: $menu-item-with-box-text-size;
    }

    &.with-bg {
      background-color: $menu-item-background-color;
    }
  }

  &.active:not(.special) {
    color: $menu-item-hove-text-color;

    &.with-bg {
      background-color: darken($menu-item-background-color, 5%);
    }
  }

  @include add-disabled-conf(false) {
    color: $text-color;
    background-color: transparent;
  }
}

//dropdown menu
@mixin dp-menu() {
  @include make-menu($dp-item-border) {
    display: none;
    position: absolute;
    z-index: 100;
    left: -1px;
    top: 100%;
  }
  @content;

  &.active {
    display: block;
  }
}