blockquote {
  display: block;
  border-left: $bq-left-border;
  margin: $bq-margin;
  padding: $bq-default-padding;
  @include border-radius($bq-border-radius);

  &.border {
    border-top: $bq-other-border;
    border-right: $bq-other-border;
    border-bottom: $bq-other-border;
  }

  &.with-bg {
    background: #f8f5f5;
  }

  &.primary {
    border-left: $bq-left-border-primary;

    &.border {
      border-top: $bq-other-border-primary;
      border-right: $bq-other-border-primary;
      border-bottom: $bq-other-border-primary;
    }

    &.with-bg {
      background: #adcfef;
    }
  }

  &.secondary {
    border-top: $bq-left-border-primary;
    border-bottom: $bq-left-border-primary;
    border-left-width: 0;


    &.border {
      border-left: $bq-other-border;
      border-right: $bq-other-border;
    }

    &.with-bg {
      background: #adcfef;
    }
  }

}

.blockquote {
  @extend blockquote;
}