//todo:Deprecated
%inline-block-style {
  position: relative;
  display: inline-block;
}

%mask-content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: map_get($z-index, 'mask');

  overflow: hidden;
}

.mask {
  @extend %mask-content;
  transition: opacity .3s ease-in-out;
  @include make-visible;
}

.pull-left {
  float: left !important;
  margin-right: auto; //for flexbox alignment
}

.pull-right {
  float: right !important;
  margin-left: auto; //for flexbox alignment
}

.pull-center {
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

.clear-radius {
  border-radius: 0 !important;
}

.clear-fix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

.clear-border {
  border-width: 0 !important;
}

.clear-min-width {
  min-width: 0 !important;
}

.hide {
  display: none;
}