@mixin add-simple-button-content($btn-bg-color, $btn-color, $btn-bdr-color,  $btn-boxshadow-color) {
  @include generate-local($btn-bg-color, $btn-color, $btn-bdr-color);
  @include generate-active($btn-bg-color, $btn-color, $btn-bdr-color, $btn-boxshadow-color);
}

@mixin generate-local($bg-color,$color,$bdr-color) {
  background-color: $bg-color;
  color: $color;
  border: 1px solid $bdr-color;
}

@mixin generate-active($active-bg-color,$btn-text-color,$active-bdr-color, $btn-boxshadow-color) {

  //once the button is disabled, focus and active won't be triggered, only hover needs to be handled
  &:focus, &:not(:disabled):hover {
    background-color: lighten($active-bg-color, $default-bg-color-increase-ratio);
    color: $btn-text-color;
    border-color: darken($active-bdr-color, $default-color-increase-ratio);
  }

  &:focus, &.active {
    box-shadow: 0 0 0 0.2rem $btn-boxshadow-color;
    z-index: map_get($z-index, "widget");
    //position: relative;
  }

  &:active {
    transform: scale(0.97);
  }

  &.active {
    color: $btn-text-color;
    background-color: lighten($active-bg-color, $default-bg-color-increase-ratio);
  }
}

/**
* set the group's border radius property
 */
@mixin group-border-radius($dr-radius:0) {
  &:not(:first-child) {
    @include border-radius-variable(top, left, 0);
    @include border-radius-variable(bottom, left, 0);
  }

  &:not(:last-child) {
    @include border-radius-variable(top, right, 0);
    @include border-radius-variable(bottom, right, 0);
  }
}

@mixin first-button {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-right-width: 1px !important;
}

@mixin last-button {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left-width: 0;
}

@mixin middle-button {
  border-radius: 0;
  border-right-width: 1px !important;
  border-left-width: 0;
}
